<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Abasi nnyin ofon eti,</p>
    <p>Oyoho ye mbom;</p>
    <p>Isopke ndiyat esit,</p>
    <p>Adara ke mfon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Kpukpru owo ekut mfon</p>
    <p>Abasi onode;</p>
    <p>Mbom Abasi odion</p>
    <p>Kpukpru nkpo nde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Kpukpru utom Fo O Obon,</p>
    <p>Eye, etoro Fi;</p>
    <p>Kpukpru ikot Fo eyenyun</p>
    <p>Edara Fi eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Mmo eyedara nditin</p>
    <p>Ubon ke Obio Fo ;</p>
    <p>Etin utene Fo, Obon</p>
    <p>Ye akwa odudu Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>Kpan mmo enam owo ekut</p>
    <p>Ata ikpo nkpo</p>
    <p>Afo anamde, ye ubon</p>
    <p>Ek'enyenede ndyo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Ke nsinsi ukpono Fo</p>
    <p>Ikukere Obon ;</p>
    <p>Kpukpru emana eyekut</p>
    <p>Odudu Fo ye Ubon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
    <p>Obon omum akama mmo</p>
    <p>Eduonode k'ison;</p>
    <p>Onyun emenere ibuot</p>
    <p>Mmo eke enuhode.</p>
</div>
