<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Akpa.</p>
 	<p>Eti Spirit, kop akam nnyin,</p>
 	<p>Da ufok ‘mi nt’ Okuo ;</p>
	<p>Di, ke ofuri odudu Fo ;</p>
	<p> Di, Akwa Spirit, di !</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Di nte ikan, nyun yarare,</p>
	<p>Mfefer’ esit nnyin ;</p>
	<p>Nyun da nnyin ke usun uwem,</p>
	<p>Emi isanade.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Di, nte ikan ke esit nnyin,</p>
	<p> Nte ikan uwa ;</p>
	<p>Ndien kpukpru se edehede,</p>
	<p>Ku yak osuk aba.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Di, nte edim, nyun dion mm’owo,</p>
	<p>Emi ebohode</p>
	<p>Ntem, k’ofuri ererimbot,</p>
	<p>Ndikpono enyin Fo.</p>
</div>
