<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Utuenikan emi owutde</p>
	<p>     Kpa eti usun ;</p>
	<p>Idim-uwem asiahade</p>
	<p>     Ke heaven, ebiet-idunn.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Uyo ukpon, Manna emi</p>
	<p>     Otode ke enyon ;</p>
	<p>Andida nnyin usun, emi</p>
	<p>     Akade ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Adaha-ikan ke ekim,</p>
	<p>     Afo unwana nnyin ;</p>
	<p>K’ini oyobio ye edim</p>
	<p>     Ebiet uboho nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Iko nsinsi Ete,</p>
	<p>     Uduak Eti Eyen ;</p>
	<p>Edieke Afo muduhe,</p>
	<p>     Uwem nnyin atak ken.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Obon, nam nnyin ikpep eti</p>
	<p>     Ifiok Fo ye item ;</p>
	<p>Ikabare itiene Fi,</p>
	<p>     Kpa ke ofuri uwem.</p>
</div>