<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ekpono Obon k’uyai uten’ Esie ;</p>
	<p>      Enuho ndino Enye ubon ;</p>
	<p>Gold nkop-item ye incense nsuk-ibuot</p>
	<p>     Eda, ekwo akwa Enyin Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enim mbiomo k’ukot Esie, man</p>
	<p>     Enye obo onyun ababare ;</p>
	<p>Ono idonesit onyun okop akam ;</p>
	<p>     Eteme nte edisanade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ekufehe ndik k’okure Esie,</p>
	<p>     Oto ke unana idorenyin ;</p>
	<p>Akpaniko ye ima, ye ime nde,</p>
	<p>     Edi uwa ebekpo Obon nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Okposuk uwa nnyin midige kpa nti,</p>
	<p>     Obon eyebo k’enyin Esie ;</p>
	<p>Ono idara ye emem kpukpru ini,</p>
	<p>     Ye idorenyin midkureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ekpono Obon k’uyai uten’ Esie ;</p>
	<p>     Enuho ndino Enye ubon ;</p>
	<p>Gold nkop-item ye incense nsuk-ibuot</p>
	<p>     Eda, ekwo akwa Enyin Obon.</p>
</div>