<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jesus, da k’ufot nnyin</p>
	<p>      Ke odudu Fo ;</p>
	<p>Nam akam nnyin edi</p>
	<p>     nkpo eridion.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Yak eti Spirit Fo,</p>
	<p>     Oduk nnyin k’idem ;</p>
	<p>Ebin ndik y’mfuho</p>
	<p>     K’esit nnyin efep.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ntem k’idinyene</p>
	<p>     Uko ye unen,</p>
	<p>Ndikut usiere</p>
	<p>     Nsinsi usen.</p>
</div>