<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Jesus ti iko oro,</p>
	<p>Kpa iko unwono Fo mi,</p>
	<p>Yarare Idem Fo mi,</p>
	<p>Man itim ikpono Fi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Di k’ufot nnyin mi ; dion</p>
	<p>Kpukpru nnyin mi ke ukpon ;</p>
	<p>Nyun no Spirit Fo, anam</p>
	<p>Kpukpru nnyin ifon ikan.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>O nam nnyin idot, Obon,</p>
	<p>Ndibine Fi k’enyon,</p>
	<p>K’ebiet ekutde Fi </p>
	<p>Ke idaresit eti.</p>
</div>
