<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Nnyin ibono mi mfin</p>
	<p>K’ukpono Fo, Obon nnyin,</p>
	<p>Di k’ufot nnyin, nyun dion</p>
	<p>Ndito Fo mi k’ison.</p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’ akwa mbom Fo mbok,</p>
	<p>Nam nnyin ikot Fo, idiok</p>
	<p>K’ifiok akpaniko</p>
	<p>Afo amad’ ndino.</p>
</div></div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Man kpukpru ikot Fo mi</p>
	<p>Ekeme ndibiet Fi,</p>
	<p>K’erikpon idiok ido</p>
	<p>Emi abiatde owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>No nnyin se ibenede,</p>
	<p>Tiene nt’inanade ;</p>
	<p>Oto ke akwa mbom</p>
	<p>K’ntak Jesus Christ Obon.</p>
</div>
