<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mfin usen utin,</p>
	<p>Yak unwana odu ;</p>
  <p>Yama k’enyon, mbok, nyun bin</p>
	<p>Ekim emi kpukpru.  </p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mfin usen Obon ;</p>
	<p>Ikpa mba eti,</p>
 <p>Obufa odudu k’iyom</p>
	<p>K’ubok Fo, O Ete.</p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti usen emem,</p>
	<p>Yoho nnyin y’emem Fo,</p>
 <p>Wuk kpukpru oyobio uwem</p>
	<p>Edu ke ndobo.</p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mfin usen akam,</p>
	<p>Yak ekondo edi</p>
<p>Esop idem, ke edinam</p>
	<p>Mkpe ubok nno Fi.</p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>K’akpan usen emi,</p>
	<p>Don uwem Fo no nnyin ;</p>
<p>Nyun demede mm’ ukpon k’ede</p>
	<p>Nam mmo edu uwem.</p>
</div>	
