<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Edi ata eti nkpo,</p>
	<p>K’ini utin esierede,</p>
	<p>Itono edon, inyun ikom</p>
	<p>Ete odude k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Kpukpru usenubok, ikut</p>
	<p>Ima Obon nnyin nt’obufa ;</p>
	<p>Enye ‘kpeme nnyin k’idap,</p>
	<p>Otono ntak anam iset.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mme obufa eno mfon</p>
	<p>Eto k’ubok Esie k’enyon ;</p>
	<p>K’ini inyun ibonde akam,</p>
	<p>Enye asana ekpere nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’nkpo inamde ke usen,</p>
	<p>Mm’edi s’inemde nnyin esit,</p>
	<p>Inamd’ ino Obon mfon</p>
	<p>Iyekut utip ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>K’ utom usen, se ededi,</p>
	<p>Usun ana inwan no nnyin-</p>
	<p>Ifet ndikan idem, usun</p>
	<p>Ek’ idikperede Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Kuyak iyom akan emi ;</p>
	<p>Kpon kpukpru ekikere efen ;</p>
	<p>Emem eyedu k’esit nnyin</p>
	<p>K’ idude uwem ino Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Obon nam nnyin idu uwem</p>
	<p>K’ison, nte enemde Fi ;</p>
	<p>Inyun ibene Fi, mbok,</p>
	<p>Nam nnyin idot idun enyon.</p>
</div>