<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Imokom Fi, O Abasi,</p>
	<p>Ke obufa usen emi ;</p>
	<p>Ete, tim kpeme nnyin mbok,</p>
	<p>Ke kpukpru oruk idiok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Sese esit nnyin y’edeme,</p>
	<p>Sio k’idiok-iko, teme,</p>
	<p>Kuyak ikop inyun ikut</p>
	<p>nkpo mbubiam ye nkpo but.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Yet kpukpru ukpon nnyin asana,</p>
	<p>K’idiok iton yak ifara,</p>
	<p>Kuyak inyene ke uwem,</p>
	<p>Iseri, ye ntan-idem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’ini usen okurede,</p>
	<p>Okoneyo edinyun edi,</p>
	<p>Yet esit nnyin k’iyip Obon,</p>
	<p>Ke mm’ ndudue isan-usen.</p>
</div>