<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Adat nnyin esit, O Obon,</p>
	<p>     K’edohode ete,</p>
	<p>Iduk k’ufok Fo mi k’ison</p>
	<p>      K’ mfon Fo, O Ete.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ofon nnyin mi iwuk ubok</p>
	<p>     Ino Fi, O Obon ;</p>
	<p>Inyun ikop iko uwem ;</p>
	<p>     Ata uwem ukpon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Esit enem eti-eti,</p>
	<p>     K’ini kpukpru uyo</p>
	<p>Ebuanade, ke erikwo</p>
	<p>     Akwa itoro Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Esit enem eti-eti</p>
	<p>     K’ini kpukpru owo</p>
	<p>Enuhode, ebene Fi</p>
	<p>     K’mfon, nti nkpo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Esit enem nnyin,  O Obon,</p>
	<p>     K’ufok Fo mi k’ison ;</p>
	<p>Eye adat nnyin ko akan,</p>
	<p>     K’ufok Fo ke enyon.</p>
</div>