<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Usen emi, akpan usen,</p>
	<p>      Usen akwa Obon,</p>
	<p>Emem uyo, etoro Christ,</p>
	<p>     Enye ‘kpkpa k’ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ayak owo ewot Enye,</p>
	<p>     Ebuk Enye k’ison ;</p>
	<p>Edi Enye eset mfin,</p>
	<p>     Okpon udi onyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Odok k’enyon, ada ubon</p>
	<p>     Ete onode Enye ;</p>
	<p>Obo  odudu ndidi</p>
	<p>     Ekpe- ikpe owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>	
	<p>Enye iyarake aba</p>
	<p>     Mbarekpe, k’enyon ;</p>
	<p>Anyanya Esimo do</p>
	<p>     Esem meren-meren.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Abasi odion mfin,</p>
	<p>     Akpan usen emi ;</p>
	<p>Etre utom, etre mbre,</p>
	<p>     Eda eno edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Edi, ikom Obon nnyin mi,</p>
	<p>     Edidem ye ufan ;</p>
	<p>Edaresit k’usen emi,</p>
	<p>     Edaresit mfin.</p>
</div>