<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Abasi akanam enyon,</p>
	<p>Anam utin ye ofion ;</p>
	<p>Obuma ye ikpa-enyon,</p>
	<p>Ye kpukpru ntantafion,</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ikpo obot, ye akwa mmon ;</p>
	<p>Akpa, ye edisat ison ;</p>
	<p>Ufene, ye unam ikot ;</p>
	<p>Ye kpukpru inuen ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Abasi okonyun anam</p>
	<p>Owo ; obot ikpoidem</p>
	<p>Oto k’ison ; ono ukpon</p>
	<p>Emi enyenede uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Kpukpru nkpo ekededi</p>
	<p>Abasi akanam ama</p>
	<p>K’usen itiokiet ; ndien</p>
	<p>Inamke nam k’itiaba.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ndien Abasi Ibom ekpep</p>
	<p>Kpukpru owo, ete, enim</p>
	<p>Usen Imo otim ofon,</p>
	<p>Ekpon urua, ekpon utom.</p>
</div>