<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>K'ini ukpon mi etide</p>
    <p>Ofuri mfon Fo Ete</p>
    <p>Idem akpa min k'ima Fo</p>
    <p>Ye ami idiok owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Nda usem ke mmon Obon</p>
    <p>K'ndino Fi ekom,</p>
    <p>Eke odude k'esit mi,</p>
    <p>Ewak eti-eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Ibat nkpo inemesit,</p>
    <p>Afo 'konode mi</p>
    <p>Toto k'uyen, tutu emi</p>
    <p>Inyeneke utit.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>K'ini nkpid' idem k'iduo,</p>
    <p>K'usun uwem emi,</p>
    <p>Afo ayanyan Ubok Fo nno,</p>
    <p>Man ami nkpadaha nda.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>K'ini ndonode eti,</p>
    <p>Memfiokke idem mi,</p>
    <p>Afo ono nsonidem,</p>
    <p>Ye obufa uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>K'ini akwa afanikon</p>
    <p>Mme mfukho okposon,</p>
    <p>Afo eyesio ukpon mi</p>
    <p>Ke nsobo ye udi.</p>
</div>
<div class="verse hymn-block">
    <p>Tosn nti eno efen</p>
    <p>Mbode k'Ubok Fo ;</p>
    <p>Odot nte nkpokomde Fi</p>
    <p>Obon kpukpru ini.</p>
</div>
