<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jesus, di bem nnyin iso,</p>
	<p>Tie ke okpokoro,</p>
	<p>Bok nnyin ye ata Uyo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>	
	<p>K’in’ inwonde wine ima,</p>
	<p>Imeti akwa ima ;</p>
	<p>Kuyak ikpon Fi aba.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Imeti ini oro</p>
	<p>Okokonde k’eto ;</p>
	<p>Yak ino Fi itoro.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Iyip oro oduokde,</p>
	<p>Eyet kpukpru ndudue</p>
	<p>Emi nnyin ikanamde</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Eyen-eron Abasi,</p>
	<p>Nam kpukpru ikot Fo mi,</p>
	<p>Emek nditiene Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ndien k’eyetde nnyin ema</p>
	<p>K’ iyip Christ akwa uwa,</p>
	<p>K’ iso Esie iyeda.</p>
</div>