<div class="chorus hymn-block">
		<p align= "center"> <i>akpa</i> </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Obon emi odokde ke enyon,</p>
	<p>Suhore di k’usoro nnyin mfin ;</p>
	<p>Afo, di tie k’ibuot okpokoro,</p>
	<p>O wut nnyin Idem Fo k’uyo ye wine.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ubet emi edi nt’ubet enyon,</p>
	<p>Obon etie k’okpokoro, odion,</p>
	<p>Obun uyo, ono nt’ ikpohidem ;</p>
	<p>Ndito Fo ebo ke mbuotidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nnyin ek’ itiede k’usoro mi,</p>
	<p>Idi ufok Abasi kiet k’Obon ;</p>
	<p>Ibuana nkpo ye kpukpru mmo oro</p>
	<p>Eduokd’ odudu ke nsinsi idun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nnyin idi kiet k’ibuanande y’Afo,</p>
	<p>Emi edide Andinyana nnyin ;</p>
	<p>Mbok, tat nnyin enyin man nnyin ikut</p>
	<p>Inyun ifiok Fi k’eribun uyo.</p>
</div>

<div class="chorus hymn-block">
		<p align= "center"> <i>udiana</i> </p>
</div>	

<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Obon emi odokde ke enyon,</p>
	<p>Suhore di k’usoro nnyin mfin ;</p>
	<p>Afo, di tie k’ibuot okpokoro,</p>
	<p>O wut nnyin Idem Fo k’uyo ye wine.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ubet emi edi nt’ ubet enyon,</p>
	<p>Obon etie k’okpokoro, odion,</p>
	<p>Obun uyo, ono nt’ikpohidem ;</p>
	<p>Ndito Fo ebo ke mbuotidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nnyin ek’ itiede k’usoro mi,</p>
	<p>Idi ufok Abasi kiet k’Obon ;</p>
	<p>Ibuana nkpo ye kpukpru mmo oro</p>
	<p>Eduokd’ odudu ke nsinsi idun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nnyin idi kiet k’ibuanade y’Afo,</p>
	<p>Emi edide Andinyana nnyin ;</p>
	<p>Mbok, tat nnyin enyin man nnyin ikut</p>
	<p>Inyun ifiok Fi k’eridun uyo.</p>
</div>
