<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jesus idaresit ukpon,</p>
	<p>Idim Uwem, Unwan’ owo,</p>
	<p>Nam nnyin iyom kpa Fi ikpon,</p>
	<p>Isua npo ison nko.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo osuk ekpere nnyin,</p>
	<p>Ke nnyin iyomde Fi oson ;</p>
	<p>Suk kpere nnyin, Ete, mfin,</p>
	<p>Ke nnyin itide mkpa Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Itabi FI, Uyo uwem,</p>
	<p>Emi edid’ udia ukpon,</p>
	<p>Afo edi ukem-ukem</p>
	<p>Eti mmon nno nsat-iton.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ido Fo, O Obon uwem,</p>
	<p>Odon nnyin mi eti-eti ;</p>
	<p>Ke nnyin ibonode ntem,</p>
	<p>Nam ifiok Fi ofuri-ofuri.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>O Jesus, di ‘didun ye nnyin,</p>
	<p>Man ido Fo oson ada,</p>
	<p>Tutu unwana edisuan</p>
	<p>Ekim idiok-nkpo nnyin ama.</p>
</div>