<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ete, ye Andibot nnyin,</p>
	<p> Afo k’eritono</p>
	<p>Akadian ke ima Fo</p>
	<p> Uwem iba ke ndo.</p>
	<p>Mfin se ndito Fo,</p>
	<p> Dion mmo kpa ntre,</p>
	<p>No mmo ima k’ufok mmo</p>
	<p>Y’ata inemesit.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>O Eti Andinyana,</p>
	<p>Emi ke Galilee</p>
	<p>Okonode k’ima Fo</p>
	<p>Edaresit eti.</p>
	<p>Mbok dion ikot Fo mi</p>
	<p>Y’eno etode heaven,</p>
	<p>Nyun kpep mmo ndikom FI</p>
	<p>Andino kpukpru nkpo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti Spirit Abasi</p>
	<p>Emi asanade,</p>
	<p>Duok ibifik Fo, sin mmo.</p>
	<p>Y’Ima Fo k’esit mmo</p>
	<p>O kpeme mmo kpukpru ini</p>
	<p> Mbak  mmo ekudue;</p>
	<p>Nyun teme mmo k’usun Fo,</p>
	<p>K’akwa odudu Fo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Midige Afo obop</p>
	<p>Ufok idisonke ;</p>
	<p>Midige Afo odion</p>
	<p> Uwem idinemke.</p>
	<p>Mm’esit ediande k’Afo</p>
	<p>Idianaked’ aba ;</p>
	<p>Ima Afo odionde</p>
	<p> Edi ata ima.</p>
</div>

