<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ata Ima, ayanade ifiok nnyin,</p>
	<p>Se, imeton edon ibene Fi,</p>
	<p>Nam ikot Fo iba emi edi kiet,</p>
	<p>No mmo ata ima ke nsinsi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ata uwem, kam di Iberedem mmo.</p>
	<p>Nam mmo enyen’ idorenyin k’Afo ;</p>
	<p>No mmo ukeme ndiyo ukut mmo,</p>
	<p>Y’esit mbuotidem, ke ofuri uwem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>No mmo uwem emi ebinde mfuho ;</p>
	<p>No mmo ima emi akpande enwan ;</p>
	<p>Tutu esim k’ata utit uwem mmo,</p>
	<p>Kpukpru idomo nam mmo ekakan.</p>
</div>

