<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jesus, emi ayarade</p>
	<p>Ubon ye ima FO,</p>
	<p>Ke Cana ko ke Galilee,</p>
	<p> Ke udia ndo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mbok nam eridion Fo ‘sim</p>
	<p>Ebe ye nwan emi ;</p>
	<p>K’Afo mmo idige iba,</p>
	<p>Eyedi kiet ke emi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nam mmo ndien etim enim</p>
	<p>Eti ido ndo,</p>
	<p>Nte Afo etemede,</p>
	<p> Enim k’akpaniko.</p>
</div>
	
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nam mmo etie ke ima.</p>
	<p>Kpukpru usen uwem,</p>
	<p>Afo onode mmo k’ison,</p>
	<p>Yak mmo ekut unen.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Dion mmo k’idem, ye ke ukpon,</p>
	<p>K’ufok, ye ke inwan ;</p>
	<p>Ini nkpo ofonde, ye</p>
	<p>Ini afaniko.</p>
</div>
	     
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>K’ini Afo okotde mmo</p>
	<p>Ekpon nkpo k’ison,</p>
	<p>Yak idorenyin mmo osu,</p>
	<p>K’mfon Fo, ke enyon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Yak mmo esobo ke ebiet</p>
	<p>Mkpa mibaha ‘ba,</p>
	<p>Eke ata ndaresit</p>
	<p>Minyun ikureke.</p>
</div>

