<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Se Jesus Obon nnyin amaka ndo,</p>
	<p>Ke Cana okporo ido Esiemo,</p>
	<p>Ido emi Enye temede nnyin,</p>
	<p>Toro ke eritono osim ke mfin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>	
	<p>K’usen oro Enye ye mbet ekeka</p>
	<p>Odion mme ufan Esie do ke ima.</p>
	<p>Yak Enye k’akwa mfon Esie mi</p>
	<p>Odion mm’ufan k’erinam ndo emi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Obon nnyin anam se ofonde, ye mmo </p>
	<p>Etiene Enye, k’utom ye  k’iko.</p>
	<p>Okop se anamde mmo , ye ke ini</p>
	<p>Idaresit, Enye adara  eti.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nam mm’ufan nnyin emi ediande idem,</p>
	<p>Eti se enwonode kiet ye eken ;</p>
	<p>Man emen Fo odu ke ufok mmo k’ison,</p>
	<p>Man Afo okpono idun ke enyon.</p>
</div>