<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ufok oro emade Fi ke Ufan</p>
	<p>Ye Andinyana, emenem akan ;</p>
	<p>K’otu isen, edi Afo k’edara,</p>
	<p>Afo ke mmo ekpono ke ima.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eti ufok, esit iba ediana</p>
	<p>Oto kiet, ke mbuotidem y’ima ;</p>
	<p>Kpa mkpa ikpon edibahare mmo,</p>
	<p>Edi ibiatke ebuana oro.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti ufok, ebiet ekpep ndito</p>
	<p>Ediono Abasi Ete mmo</p>
	<p>Nte Ufan ; mmo emebene idem</p>
	<p>K’ukpeme Fo ye ke item uwem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Eti ufok, emi enamde utom</p>
	<p>Ekededi eno Abasi Ibom ;</p>
	<p>Tutu ekpri utom akabar’ edi</p>
	<p>Se ofonde ama k’enyin Obon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Eti ufok, emi mikefreke Obon</p>
	<p>Ke idara, okponde okposon ;</p>
	<p>Eti ufok, k’ ubiak odude k’ufot,</p>
	<p>Ebine Jesus nt’ Akwa Oku.</p>
	<p>Nsinsi ebiet emem y’ima.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ke akpatre, k’utom edikurede,</p>
	<p>Y’Afo k’enyon nnyin idisobode ;</p>
	<p>K’ebiet emi Afo okodokde aka,</p>
	<p>Nsinsi ebiet emem y’ima.</p>
</div>