<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Se nnyin imen ikwo nnyin mi,</p>
	<p>Obon, itoro Fi</p>
	<p>K’mfon Fo Afo omono</p>
	<p>Nnyin, kpa ikot Fo mi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo, akwa Ete nnyin mi,</p>
	<p>Absi Ibom k’enyon,</p>
	<p>Ekere se ofonde ye</p>
	<p>Kpukpru owo k’ison.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Afo onyun ono iko</p>
	<p>Etemede ido</p>
	<p>Emi ofonde ye owo,</p>
	<p>Ye ke ukpono Fo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak nnyin itiene Fi,</p>
	<p>Ke ikwo ye ke akam,</p>
	<p>Ete, man Afo okpodion</p>
	<p>Se nnyin mi inanam.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Dionmm’ufan nnyin k’erinam</p>
	<p>Ido Fo ke ndo ;</p>
	<p>Nam mmo ediana kiet, k’esit,</p>
	<p> K’ata akpniko.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Nyun yak ufon Fo, O Ete,</p>
	<p>Odoro mmo k’idem ;</p>
	<p>K’ofuri usun esanade</p>
	<p>Nam mmo etiene Fi.</p>
</div>



