<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Teme mi akwa Jehovah,</p>
	<p>Ke nsanade k’ison ;</p>
	<p>Afo omokpon akaha,</p>
	<p>Ke ubok Fo, kpeme mi.</p>
	<p>Andinyana,</p>
	<p>Di otu mi y’odudu.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Idim mmon, O nam asiaha,</p>
	<p>Nsinsi mmon uwem.</p>
	<p>Yak ubok Fo, O Abasi.</p>
	<p> Eteme nnyin k’isan nnyin.</p>
    <p>Uyo heaven,</p>
	<p>Bok nnyin mi k’ison emi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>O bem nnyin iso, Abasi,</p>
	<p>Kan kpukpru mm’asua nno nnyin.</p>
	<p>O teme nyun kpeme nnyin mi,</p>
	<p>Tutu ke enyon ida</p>
    <p>Ke iso Fo,</p>
	<p>Ke idaresit eti.</p>
</div>
