<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>O Ete, bem mi iso,</p>
	<p>Kpukpru ini k’usun Fo ;</p>
	<p>Kpep mi nnam se enende,</p> 
	<p>Nyana nnam s’nkpanamde.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’ini ndik, no mi uko,</p>
	<p>Nam mi nkop odudu Fo ;</p>
	<p>Kpeme mi, nim k’ifure,</p>
	<p>No mi ima Fo, Ete.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’ini ndude k’idomo,</p>
	<p>Kpan mi O Ete, nkuduo ;</p>
	<p>Ye k’ini ndud’ ikpon,</p>
	<p>Mum mi k’ubok Fo, Obon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’ini ndude k’idara,</p>
	<p>Kuyak mi mfre Obon,</p>
	<p>Em’ anamde kpukpr’ ini,</p>
	<p>Ima Esie osim mi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Du k’esit mi, O Obon,</p>
	<p>Man nkptiene Fi k’ison ;</p>
	<p>K’akpatre nyebine Fi,</p>
	<p>K’mfon Fo, ke nsinsi.</p>
</div>
