<div class="verse hymn-block">
    <p class="verse-number">1</p>		
	<p>Jesus be iso,</p>
	<p>Iyekan k’Afo ;</p>
	<p>Okkpsuk usun mifionke,</p>
	<p>Afo ke nnin iditiene ;</p>
	<p>Da nnyin sok Ete,</p>
	<p>K’obio Esie.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>k’usun mifonke,</p>
	<p>K’asua ewakde,</p>
	<p> Ku yak esit ndik akan nnyin,</p>
	<p>Ku yak ikpon idorenyin ;</p>
	<p>Nnyin ibe k’idiok,</p>
	<p>Isim ke ufok.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
 	<p>k’iyomde unwam,</p>
	<p>Ke ini ukut,</p>
    <p> K’ini idomo efikde,</p>
    <p>Obon no nnyin anyan ime ;</p>
	<p>Nam iker’ ebet</p>
	<p>Idorenyin nnyin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Jesus, be iso,</p>
	<p>Iyekan k’Afo ;</p>
    <p>Teme nnyin, Eyen Abasi,</p>
    <p> Nwam nnyin, kama nnyin k’ubok Fo,</p>
	<p>Tutu nnyin isim</p>
	<p>K’ison Ete nnyin.</p>
</div>