<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Teme nnyin, O Ete, k’usun emem,</p>
	<p>K’Afo mutemeke nnyin iyeyo ;</p>
	<p>Eyikhe y’ukut emem nnyin idem,</p>
	<p>Teme nnyin k’enyin Christ, ata uwem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Teme nnyin ke usun akpaniko,</p>
	<p>Munyanake nnyin inyene ndidue ;</p>
	<p>Ini uyen amabiara k’idiok ;</p>
	<p>Idorenyin ke usun iduhe.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Teme nnyin, O Ete, k’usun unen,</p>
    <p>Idi nnan k’isanade ikpon ;</p>
	<p>K’okoneye, ibe nte nditen,</p>
	<p> K’Afo ikpon ke nnyin ikut ufon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Da nnyin ka k’obio nduok odudu,</p>
	<p>Yak usun odiok nte ododiok.</p>
	<p>K’idaresit y’ukut, kpeme tutu</p>
	<p> Uwem nnyin ke Afo ofon eti.</p
</div>

