<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>O udim mbon isan,</p>
	<p>Esan eka iso,</p>
	<p>Ye Jesus, nte ufan</p>
	<p>Ye Ibuot mbufo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Edat esit ke utom,</p>
	<p>Christ akanam ntre ;</p>
	<p>Eyom owo ‘no Jesus,</p>
	<p>Emi ‘yenem Enye.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Cross Jesus okobiomde,</p>
    <p>Ekenyene mbufo ;</p>
	<p>Anyanya ayarare,</p>
	<p>onode eridion.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mbuotidem ye ima,</p>
	<p>K’eda ekut Enye ;</p>
	<p>Idorenyin ke nnama</p>
	<p>onode eridion.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Idomo ye mfuho</p>
	<p> Mbufo ekutde mi,</p>
	<p>Ukut ye ndutoho</p>
	<p>Em,mbufo esuade.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Mmo edi nkpo uto,</p>
	<p>Emi osond’ nko ;</p>
	<p>Edi eberi eke</p>
	<p>Osimd’ idun enyon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Enam mbufo esana</p>
	<p>Ekper’ Obon Jesus,</p>
	<p>Eda mbufo esim ko</p>
	<p>Ke obio unwana.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>O udim mbon isan</p>
	<p> Ese Jesus Obon ;</p>
	<p>Utip mbufo eyekan</p>
	<p>Kpukpru afanikon.</p>
</div>

