<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ke okoney mfuho,</p>
	<p>Se ikot Obon k’ison ;</p>
	<p>Ikwo idorenyin k’ekwo,</p>
	<p> Nte ekade k’enyon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Usun ikimke ino mmo,</p>
	<p>Akwa unwana k’iso ;</p>
	<p>Ufan omum ufan k’ubok,</p>
    <p> K’ebede k’okoneyo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Iyip Jesus Christ Obon nnyin,</p>
	<p>Amafak ikot Esie,</p>
	<p>Ebin ekim idioknkpo</p>
	<p>K’esit ye k’usun efep.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Se mmo eyomde edi kiet ;</p>
	<p> Edi kiet k’esit nde ;</p>
	<p>Kiet k’enwan ye k’ ndutuho</p>
	<p> Kiet k’usun isan Ete.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Kiet k’inemesit y’idara,</p>
	<p> Ke idun nsinsi,</p>
	<p>Ke ebiet idisobode,</p>
	<p>Ye k’akwa ima Ete.</p>
</div>


