<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Andinam utom, k’emi,</p>
	<p>     Okure utom esie ;</p>
	<p>K’emi enye emedi</p>
	<p>     Ke esuk  ndibehe.</p>
</div>
<div class="chorus hymn-block">
	<p>Ete, owo Fo, ikpon mi</p>
	<p>K’eride idap k’ubok Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eyet iduhe do,</p>
	<p>      Ye ndibe-ndibe nkpo ;</p>
	<p>Andikpe ikpe mmo do</p>
	<p>      Idikpehe k’ukwan usun.</p>
</div>
<div class="chorus hymn-block">
	<p>Ete, owo Fo, ikpon mi</p>
	<p>K’eride idap k’ubok Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Andikpa, k’ini enye</p>
	<p>     Esede  cross Obon uwem,</p>
	<p>Eyekut ima Esie,</p>
	<p>     Ke obio ata emem.</p>
</div>
<div class="chorus hymn-block">
	<p>Ete, owo Fo, ikpon mi</p>
	<p>K’eride idap k’ubok Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ntan k’afiak ken tan,</p>
	<p>     Ete omonim mbet,</p>
	<p>Iyefiak ikut ufan</p>
	<p>     Ke akwa usen eriset.</p>
</div>
<div class="chorus hymn-block">
	<p>Ete, owo Fo, ikpon mi</p>
	<p>K’eride idap k’ubok Fo.</p>
</div>