<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p> Kpukpru ini Abasi Ibom </p>
	<p>Ebe ke ndib’usun</p>
	<p>Anam utib’utom Esie</p>
	<p>Ke ererimbot emi</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p> Enye asanga ke inyang, </p>
	<p>Ye ke oyobio</p>
	<p>Enye odip mm’utibe nkpo</p>
	<p>Obotde k’odudu.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p> Ikot Obong kufehe ndik </p>
	<p>Idiok-nkpo k’ini iso</p>
	<p>Mfon Abasi eyekan</p>
	<p>Idomo mbufo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p> Kuyek Abasi mbufo </p>
	<p>Ke nkpo ekededi</p>
	<p>Iso Esie idibeke</p>
	<p>Kidiok ini y’eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p> Iko Obong nnyin eyesu </p>
	<p>Ini Esie k’edi</p>
	<p>Ke Enye editie nte Obong</p>
	<p>Ke ererimbot mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p> Yak nnyin ibuot idem ye Ete </p>
	<p>K’isangade ke ekim</p>
	<p>Koro Abasi eyewut</p>
	<p>Se kpukpr’ oworode.</p>
</div>