<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ison odu enemd’ eti,</p>
	<p>      Idun nti owo,</p>
	<p>Eyo ada ke nsinsi,</p>
	<p>     Ubiak iduhe do.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Idim esie idisatke,</p>
	<p>     Mm’ikeneke ;</p>
	<p>Mkpa abahare enye</p>
	<p>     Ye idun nnyin emi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti anwa k’edem iyan,</p>
	<p>     Ye awawa mbiet ;</p>
	<p>Kpa nte ke obio Canan</p>
	<p>     Y’akpa Jordan k’ufot.</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Uwak owo esan’ eka</p>
	<p>      Ke mben inyan emi,</p>
	<p>Esim do, mmo etuak eda,</p>
	<p>     Eyik eti-eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nte nnyin ikeme ndimen</p>
	<p>     Eyihe nnyin nduok,</p>
	<p>Man ikut Canaan, ke enyin</p>
	<p>     Unwana ye ifiok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Nte nnyin ikeme ndidok</p>
	<p>     K’obot Moses, ida,</p>
	<p>Nnyin ikpenyeneke ndik</p>
	<p>     Aba, ke mben akpa.</p>
</div>