<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jerusalem ed’ obio</p>
	<p>     Emi ediond’ eti,</p>
	<p>Ke mmon-eba ye aran</p>
	<p>     Emi eninede ;</p>
	<p>Mfiokke, O mfiokke</p>
	<p>     Inem odude do,</p>
	<p>Ye akamba ukpono</p>
	<p>     Ebede idomo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mm’ufok obio ke Zion</p>
	<p>     Eyoho ye ikwo,</p>
	<p>Ye ndisana angel</p>
	<p>     Y’ekese ufan mmo.</p>
	<p>Eyen Edidem mmo ‘du</p>
	<p>     Ye mmo, kpukpru ini,</p>
	<p>Anwa obio oro,</p>
	<p>     Edi ata uyai.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ebekpo David mmodo,</p>
	<p>     Ikwe s’ananade,</p>
	<p>Uyo ikwo y’usoro</p>
	<p>     Edi se ekopde ;</p>
	<p>Koro mmo ye Obon mmo</p>
	<p>     Ema ekan k’ekon.</p>
	<p>Ndien mmo esesine</p>
	<p>     Ofon idem ubon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Eti, edinem obio</p>
	<p>     ikot Abasi Ibom ;</p>
	<p>Eti edinem obio</p>
	<p>     Enyene mm’andiyom.</p>
	<p>Jesus, ke mbom O da nnyin,</p>
	<p>     Ka ke nduok-odudu,</p>
	<p>Man y’Ete, y,Eti, y’Eti ESpirit,</p>
	<p>     K’emem, nnyin ikpodu.</p>
</div>