<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Asna didie mbon oro</p>
	<p>     Eda k’afia ofon,</p>
	<p>K’usun ewe ke mmo esim</p>
	<p>     Ebiet oro k’enyon ?</p>
	<p>K’uwem k’ison eyet ofon</p>
	<p>     K’iyip Eyen-eron ;</p>
	<p>Mmo ekebo afanikon,</p>
	<p>     Ndien esim enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ekama ndak eyop k’ubok,</p>
	<p>     Ekom Abasi Ibom.</p>
	<p>Obion ye nsat-iton ison</p>
	<p>     Inamke mmo aba.</p>
	<p>Eyen-eron ke ebekpo</p>
	<p>     Akara mmo k’ima,</p>
	<p>Obok mmo ke udia enyon,</p>
	<p>     Ukut y’ubiak ebe.</p>
</div>