<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Kabana mmo emi ebede efep,</p>
	<p>Mm’ntiense mi k’ison k’iso owo,</p>
	<p>Enyin Fo Jesus, mmo ekpono Fi.</p>
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alleluia !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo akama mmo k’odudu Fo,</p>
	<p>Afo Etubom mmo k’out enwan,</p>
	<p>Ye ekim, ye afanikon k’ison.</p>
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alleluia !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>O yak ikot Fo ek’ odudu mi,</p>
	<p>Enwan’ nte mmo k’nkan’ ini,</p>
	<p>Emi ebode anyanya uwem.</p>
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alleluia !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>	
	<p>Edi sese ! obufa usen k’edi,</p>
	<p>Abuat ikot Abasi, ke usen</p>
	<p>Emi eyede ofofon eti.</p>
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alleluia !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ndien oto ofuri ererimbot mi,</p>
	<p>Mbon isan k’usun ewak eti ;</p>
	<p>Ekwo ikwo enyun etoro Fi.</p>
	<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alleluia !</p>
</div>
