<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Idap oro otim ofon</p>
	<p>Owo edede ke Obon ;</p>
	<p>Okpon afanikon k’ison,</p>
	<p>Onyun edemde k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Idap oro okpon emem ;</p>
	<p>Satan y’ata mm’asua efen</p>
	<p>Itimekede mmo emi</p>
	<p>Ke Jesus edede k’emi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Idap oro akan mkpa,</p>
	<p>Onyun akan ndik ama ;</p>
	<p>Koro Jesus ama akpa</p>
	<p>Obun eduat mkpa ama.</p>
	<p>Mkpa owo mbuotidem</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>	
	<p>Idap oro enem eti,</p>
	<p>K’esen idut, k’edem emi ;</p>
	<p>Mkpa owo mbuotidem</p>
	<p>Ke Jesus, eyedi uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Jesus nam mi ndiana Fi</p>
	<p>K’isan mi ke ison emi.</p>
	<p>Man ami nde idap oro</p>
	<p>Nyun ndun k’ifure k’iso Fo.</p>
</div>