<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Akwa idaresit k’enyon,</p>
	<p>     Ke mmo enyenede,</p>
	<p>Emi esanade k’usun,</p>
	<p>     Obon etemede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Emi enyun eyerede</p>
	<p>     K’iyip akwa Uwa,</p>
	<p>Emi edide Christ, man mmo</p>
	<p>     Etim efon ema.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’ata idut, emi</p>
	<p>     Jesus onode mmo,</p>
	<p>Ikwe nkpo ndomo kiet</p>
	<p>     mifonke ye owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ukut  idukke ebiet,</p>
	<p>     Ikwe iyaresit ;</p>
	<p>nkpo idibiakke mmo,</p>
	<p>     k’ata idaresit.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Bion ididonke mmo nko,</p>
	<p>     Iton mmo iastke,</p>
	<p>Edara ke uwem mmo do</p>
	<p>     Abasi onono.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Udono, ubiak, mkpa,</p>
	<p>     Ididuhe nko ;</p>
	<p>Jesus ono uwem ama</p>
	<p>     Mikureke mmo do.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Enye k’out mmo ododun,</p>
	<p>     Anam ekut eti</p>
	<p>Inemesit y’idaresit,</p>
	<p>     Y’Enye kpukpru ini.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Mbok, Abasi, nam nnyin mi</p>
	<p>     Isin idem eti</p>
	<p>Ke iko Fo, man nnyin ika</p>
	<p>     Eti idut emi.</p>
</div>