<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Afo, O ukpon mi kop</p>
	<p>Eti edinem otop,</p>
	<p>Jesus k’ eneme y’afo,</p>
	<p>Ete, mme k’ama Imo?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ami nkanyana fi,</p>
	<p>Ke kpukpru idiok ini,</p>
	<p>Nkosio fi ke ekim,</p>
	<p>Nkemen k’unwana nnim.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eka ekeme ndifre</p>
	<p>Edema eyen esie ;</p>
	<p>Ami ndifreke fi,</p>
	<p>K’emi ye kpukpru ini.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ima Mi ’dikpuhoke,</p>
	<p>Okon, otuno ebe ;</p>
	<p>Inyenek’ ekom urua ;</p>
	<p>K’odudu akan mkpa.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nyesop mfiak ndi k’ubon,</p>
	<p>K’utom mfon okurede ;</p>
	<p>K’ebekpo ‘yetie y’Ami,</p>
	<p>K’afo edimade mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Se nsemede, edi,</p>
	<p>Ima mi ikponk’eti ;</p>
	<p>Mmama, nnyun ntoro Fi,</p>
	<p>Nwam mi mma Fi nkan emi.</p>
</div>
