<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Toro Obong ye ukpong,</p>
	<p>Kpukpru mme angel ke enyong</p>
	<p>Yak utin y’ofiong etoro</p>
	<p>Ye kpukpru nkpo k’isong.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Toro Obong, koro Enye</p>
	<p>Onode owo item</p>
	<p>Emi, k’edinim enamde</p>
	<p>Nnyin inyene kpa uwem.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Toro Obong ye Andikan</p>
	<p>Dara ke akamba ima;</p>
	<p>Enye ananam nnyin ikan</p>
	<p>Se idiokde, ye mkpa.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Toro Akwa Andinyanga</p>
	<p>Ke odudu Esie,</p>
	<p>Yak enyong y’isong ebuana</p>
	<p>Ke eritoro Enye.</p>
</div>