<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Se ererimbot akana</p>
	<p>     K’ukwankpo ye mkpa ;</p>
	<p>Usun uboho iduhe ;</p>
	<p>     Ikwe mfon aba.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eyen Abasi okokut</p>
	<p>      Nte inade ntem,</p>
	<p>Ndien k’akwa ima, Enye</p>
	<p>     Edi, ono uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Enye akabade owo,</p>
	<p>     Oyun otim onim,</p>
	<p>Ibet Obon, ndien Enye</p>
	<p>     Akpa ke ibuot nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak kpukpru nkpo, ye owo,</p>
	<p>     Efiori ekwo</p>
	<p>Ke esit kiet, ima Obon,</p>
	<p>     Ye Andiyana mmo.</p>
</div>