<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Baba ufan nnyin ibietke Jesus,</p>
	<p>     Baba kiet, baba kiet,</p>
	<p>Ufan efen idinyanake nnyin,</p>
	<p>     Baba kiet, baba kiet.</p>
</div>

<div class="chorus hymn-block">
	<p>Jesus eyefiok usun nnyin,</p>
	<p>Eyekpeme tutu utit,</p>
	<p>Baba ufan nnyin ibietke Jesus,</p>
	<p>Baba kiet, baba kiet.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Baba ufan kiet ifonke nt’ Enye, </p>
	<p>     Baba kiet, baba kiet.</p>
	<p>Baba efen inemke nt’ Enye,</p>
	<p>     Baba kiet, baba kiet.</p>
</div>

<div class="chorus hymn-block">
	<p>Jesus eyefiok usun nnyin,</p>
	<p>Eyekpeme tutu utit,</p>
	<p>Baba ufan nnyin ibietke Jesus,</p>
	<p>Baba kiet, baba kiet.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ikponke nnyin ke ofuri uwem nnyin,</p>
	<p>     Ikponke, ikponke.</p>
	<p>Kpukpru usen Jesus ama nnyin.</p>
	<p>     Ama nnyin, ama nnyin.</p>
</div>

<div class="chorus hymn-block">
	<p>Jesus eyefiok usun nnyin,</p>
	<p>Eyekpeme tutu utit,</p>
	<p>Baba ufan nnyin ibietke Jesus,</p>
	<p>Baba kiet, baba kiet.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Otim itie ono nnyin ke heaven,</p>
	<p>     Ko ke heaven, ko ke heaven.</p>
	<p>Jesus ‘yeda nnyin aka ke heaven,</p>
	<p>     Ko ke heaven, ko ke heaven.</p>
</div>
<div class="chorus hymn-block">
	<p>Jesus eyefiok usun nnyin,</p>
	<p>Eyekpeme tutu utit,</p>
	<p>Baba ufan nnyin ibietke Jesus,</p>
	<p>Baba kiet, baba kiet.</p>
</div>