<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Kpukpru s’Abasi obotde</p>
	<p>Ekwo ikwo eno Enye</p>
	<p>Hallelujah! Hallelujavh!</p>
	<p>Afo ufiop-ufiop utin,</p>
	<p>Afo nko ediye ofiong</p>
	<p>Toro Enye! Toro Enye!</p>
	<p>Hallelujah! Hallelujah! Hallelujah!</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo okposong oyobio</p>
	<p>Mbubit enyong, mbufo nko</p>
	<p>Etor enye! Hallelujah!</p>
	<p>Usenubok, dara nko</p>
	<p>Mbubreyo, emen uyo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ediye mmong inyang ibom</p>
	<p>K’itoro yak enam uyom</p>
	<p>Hallelujah! Hallelujah!</p>
	<p>Afo ikan k’ediyama</p>
	<p>Omono ufiop y’unwana,</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’usen, k’usen, afo isong</p>
	<p>Onono owo eridiong,</p>
	<p>Toro Enye! Toro Enye!</p>
	<p>Mme nti mfri ekoride</p>
	<p>Etim ewut ubong Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Kpukpru nkpo, ekom Obong</p>
	<p>Ekom Enye, etong edong</p>
	<p>Etor’ Enye! Hallelujah!</p>
	<p>Etoro ete, etoro eyen</p>
	<p>Etoro spirit, kpukpr’usen.</p>
</div>