<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Sese ! oruk ima, Obon</p>
	<p>     Amade ndino,</p>
	<p>Ete, nnyin mi idi mm’ufan</p>
	<p>     Ye ndito Imo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Otim onim nnyin ke ufok</p>
	<p>     Enye akamade ;</p>
	<p>Ono nkpo k’ntarubok</p>
	<p>     Eke nnyin inamde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ekpeme nnyin k’uwem emi</p>
	<p>     Idude mi k’ison ;</p>
	<p>Eteme ke usun oro,</p>
	<p>     Ikade ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mbok, Abasi, nam nnyin mi</p>
	<p>     Itiene Fi,</p>
	<p>K’uwem y’ mkpa, man ikpokut</p>
	<p>     Inemesit eti.</p>
</div>