<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Yak ino Enye itoro</p>
	<p>     Ek’enyenede Enye,</p>
	<p>Emi akakande Satan</p>
	<p>     Ke odudu Esie,</p>
	<p>         Man anyana</p>
	<p>  Kpukpru ek’ enyimede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>  
	<p>O yak nnyin ikworo nkpo,</p>
	<p>     Mkposon nkpo emi,</p>
	<p>Jesus Andiyana nnyin mi</p>
	<p>     Akanamde, ke ini</p>
	<p>          Enye ikpon</p>
	<p>Akakande Satan mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Jesus tim nam nnyin isana,</p>
	<p>     Ye ke esit ye ido ;</p>
	<p>Sia Afo ama afak nnyin,</p>
	<p>     Man iwut ukpono Fo</p>
	<p>         K’erinam se</p>
	<p>Afo omowuk k’uyo.</p>
</div>