<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Di, yak nnyin mi itoro Christ ;</p>
	<p>     Ikwo akwa enyin</p>
	<p>Jesus enyenede ; ofon</p>
	<p>     Idara nditin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nnyin iditoro Utibe</p>
	<p>      K’iko ye ke utom,</p>
	<p>Ye ke idem ; Eyen Owo,</p>
	<p>     Eyen Abasi Ibom.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Itoro Ofiok-nkpo</p>
	<p>     Emi etemede</p>
	<p>Owo eti usun uwem,</p>
	<p>     Onyun ekpemede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Itoro Fi, Abasi Ibom,</p>
	<p>     Osonde ke uko ;</p>
	<p>Anie ekeme Fi k’enyon,</p>
	<p>     Ye ke out owo ?</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Itoro Fi, Immanuel,</p>
	<p>     Abasi k’out nnyin ;</p>
	<p>Afo ekedi ke ison,</p>
	<p>     Odun k’enyon,</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Itoro Fi, Obon Emem,</p>
	<p>     Akpande nnyin usua,</p>
	<p>Utok, ekon, onyun ekpep</p>
	<p>     Kpukpru owo ima.</p>
</div>