<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Enyin Jesus enem eti,</p>
	<p>     K’uton owo oro</p>
	<p>Onimde ke akpaniko</p>
	<p>     Ke ererimbot mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Anam esit osuho, ke</p>
	<p>     Ini afanikon ;</p>
	<p>Anam udono okure,</p>
	<p>     Ebin ndik onyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Esit emi obuode,</p>
	<p>     Anam oson eti ;</p>
	<p>Onyun onim mmo ke enyon</p>
	<p>     Emi eferede.</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Esit emi ofuhode,</p>
	<p>     Enyin Christ ododon ;</p>
	<p>Onyun osuk mme mmo oro</p>
	<p>     Eyatde mmo k’ukpoon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Eti Enyin ! Odudu mi !</p>
	<p>     Am’ ’mbuot idem k’esit.</p>
	<p>Ekpeme mi k’ofuri uwem</p>
	<p>     Ke kpukpru ebiet.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>nkpo eke ami ‘yoyom</p>
	<p>     Prophet, Oku, Obon,</p>
	<p>Abasi ko k’enyon okop</p>
	<p>     K’mfon, onyun ono.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Jesus, Oruk mi ye Ufan,</p>
	<p>     Prophet, Oku, Obon,</p>
	<p>Emi onimde mi k’uwem</p>
	<p>     Ekpemede k’ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Ke ofuri esit mi, nnyom</p>
	<p>     Enyin Fo ndikwo ;</p>
	<p>Nnyom ubon Fo ndikwut</p>
	<p>     Owo akpaimo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">9</p>
	<p>Idomo esit mi, Obon,</p>
	<p>     Emem eti-eti ;</p>
	<p>Ifiopesit mi mi onyun</p>
	<p>     Ebit ; idotke Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">10</p>
	<p>Edi, ke ndikutde Fi,</p>
	<p>     Ke heaven, ko k’enyon,</p>
	<p>Nyekwo itoro Fo eti,</p>
	<p>     Nnyun nno ata ubon.</p>
</div>