<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Efri ukorowo,</p>
	<p>Uyo idaresit ;</p>
	<p>Yak ekondo ekop</p>
	<p>Ke akpatre ison ;</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Etoro Christ, Obon,</p>
	<p>Ata eyit nnyin mi.</p>
	<p>Ekworo ke ison,</p>
	<p>Kpa mkpa Esie ;</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nnyin mi ima inyam</p>
	<p>Ata udeme nnyin ;</p>
	<p>K’mfon Obon edi</p>
	<p>Jesus ama ono.</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak ifin hell edi,</p>
	<p>Eboho ke mkpa,</p>
	<p>Etie ke emem,</p>
	<p>Ye Andiyana mmo.</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ekop ukorowo,</p>
	<p>Iko ima Obon,</p>
	<p>Edi, ese iso</p>
	<p>Christ Andiyana nnyin.</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Jesus edi Oku,</p>
	<p>Enye ama akpa,</p>
	<p>Man afak kpukpru nnyin</p>
	<p>Ono Abasi Ibom.</p>
	<p>Oyoho isua Jubilee ;</p>
	<p>Yak mbufo enyon edi.</p>
</div>