<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ukpon mi, kom Abasi Ibom ;</p>
	<p>     Ye ofuri esit mi</p>
	<p>Toro akwa enyin Obon ;</p>
	<p>     Dara eti-eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ukpon mi, kom Abasi Fo ;</p>
	<p>     Kufre nti eno,</p>
	<p>Enye onode fi, ete,</p>
	<p>     Eto ke mfon Imo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kpukpru mm’ukwankpo, ke ima</p>
	<p>     Enye adahado ;</p>
	<p>Anam udono okure,</p>
	<p>     Ye ndutuho fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Enye onim fi ke uwem,</p>
	<p>     Osio fi ke mkpa ;</p>
	<p>Onyun odori fi eti</p>
	<p>     Mfon ye akwa ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Enye inamke nnyin nte</p>
	<p>     Ido nnyin odotde,</p>
	<p>Eke inamde Enye mi</p>
	<p>     Ke ekese ini.</p>
</div>