<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Edi yak nnyin ikwo</p>
    <p>Ino Jehovah mi ;</p>
    <p>Ikwo Akamba Itiat</p>
    <p>Emi anyanade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Yak nnyin ida ekom</p>
    <p>Idi k'iso Ete;</p>
    <p>Ida ikwo idaresit</p>
    <p>Idi ikwo Enye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Jehovah omokpon,</p>
    <p>Onyun ada ubon</p>
    <p>Kpukpru s'idude mi k'ison,</p>
    <p>ye kpukpru ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>kpukpru oruuk nkpo</p>
    <p>K'idak ofuri ison,</p>
    <p>Ye kpukpru edikon obot</p>
    <p>Edu k'ubok Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>Enye anam inyan,</p>
    <p>Inyan enyen' Enye;</p>
    <p>Enye ada ubok anam</p>
    <p>Ison emi nde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Edi ikom Ete ;</p>
    <p>Inyun ibon akam,</p>
    <p>Inyun iton edon ino</p>
    <p>Jehovah Andinam.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
    <p>Enye Abasi nnyin ;</p>
    <p>Nnyin inyun ididi</p>
    <p>Ikot Ete amade ma,</p>
    <p>Onyun akamade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
    <p>Ekop uyo Obon,</p>
    <p>Ekop k'idahemi ;</p>
    <p>Ekuson esit mbufo,</p>
    <p>Ini ime k'ebe.</p>
</div>
