<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>O yak nnyin ikom Obong</p>
	<p>Ke idaresit ukpong.</p>
	<p>Koro uwak mfon Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mbufo edi ekwo</p>
	<p>Andinam nnyin ndito</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Se Abasi onono</p>
	<p>Ke ntarubok nkpo</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak nnyin mi ikom Obong</p>
	<p>Ke idaresit ukpong.</p>
</div>