<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Edi ifiak itien’ Obon,</p>
	<p>     Ye esit nkpofiok ;</p>
	<p>Abasi nnyin ofon ido</p>
	<p>     Iyakke nnyin iduok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>	Uyo Esie ama ‘kakpan</p>
	<p>	     Uyom oyobio ;</p>
	<p>	Enye amia mm’idok owo,</p>
	<p>	     Anyana mmo nko.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>	Ekim mfuho ke ebe,</p>
	<p>	     Uwemeyo k’edi ;</p>
	<p>	Abasi nnyin k’edi k’usun</p>
	<p>	     Y’inemesit eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>	Esit nnyin, ke inyimede</p>
	<p>	     Eyefiok Enye ;</p>
	<p>	Idara Esie okpon,</p>
	<p>	     Onyun enem eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>	Nte mbara otode</p>
	<p>	     K’enyon k’ikpa-enyon,</p>
	<p>	Nte edim k’ndaeyo</p>
	<p>     Osuk nsat-iton</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Kpa ntre ke idikut mfon</p>
	<p>     K’ubok Abasi Ibom ;</p>
	<p>Ekim ukpon ebe efep</p>
	<p>     Ke obufa uwem.</p>
</div>