<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Obon Jesus, ti mi,</p>
	<p>      Nam mi mboho ke</p>
	<p>Idiok-iton ison emi,</p>
	<p>     Nam uwem mi eye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Obon Jesus, ti mi,</p>
	<p>      Uwem mi k’ebebe ;</p>
	<p>Yak mi nnam kpukpru ini,</p>
	<p>     Se Afo amade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Obon Jesus, ti mi,</p>
	<p>     K’ufot ekon uwem,</p>
	<p>K’ubiak y’ukut, mbok, no mi</p>
	<p>     Esit nson-nda.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Obon Jesus, ti mi,</p>
	<p>     Kuyak nkpon usun ;</p>
	<p>K’ekim, y’afanikon, da mi</p>
	<p>     Ka heaven ebiet-idun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Obon Jesus, ti mi,</p>
	<p>     K’ufot oyobio ;</p>
	<p>Mm’asua edikobode mi,</p>
	<p>     O kpeme owo Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Obon Jesus, ti mi,</p>
	<p>     K’uwem okure,</p>
	<p>Nkpokut uyai Abasi,</p>
	<p>     K’eti Obio Esie.</p>
</div>