<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Kop eyet mi, O nyun nen iso y’ami,</p>
	<p>     Di, Andiyana, idi ;</p>
	<p>Ukpon onyime, oyom Fi k’emi,</p>
	<p>     Di, Andinyana, di.</p>
</div>	
<div class="chorus hymn-block">
	<p>Ami nkoyo k’ikot, nkop tuep do</p>
	<p>      Ami nkoyo nkpon Fi kpukpru ;</p>
	<p>Da mi ndien, sin k’out eron Fo,</p>
	<p>     Di, Andinyana, di.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nnyeneke itie ndib’ efen,</p>
	<p>     Di, Andinyana, di ;</p>
	<p>Ukpeme Fo ono mfon k’usen</p>
	<p>     Di, Andinyana, di ;</p>
</div>	

<div class="chorus hymn-block">
	<p>Ami nkoyo k’ikot, nkop tuep do</p>
	<p>      Ami nkoyo nkpon Fi kpukpru ;</p>
	<p>Da mi ndien, sin k’out eron Fo,</p>
	<p>     Di, Andinyana, di.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Usun k’ekim, ukot mi ememem,</p>
	<p>     Di Andiyana, di</p>
	<p>Ima Fo ono mi nson-idem,</p>
	<p>     Di, Andinyana, di.</p>
</div>

<div class="chorus hymn-block">
	<p>Ami nkoyo k’ikot, nkop tuep do</p>
	<p>      Ami nkoyo nkpon Fi kpukpru ;</p>
	<p>Da mi ndien, sin k’out eron Fo,</p>
	<p>     Di, Andinyana, di.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Usinke edibun esit ke ndek,</p>
	<p>     Di, Andinyana, di ;</p>
	<p>Kop akam mi ye eseme mi mbok,</p>
	<p>     Di Andinyana, di.</p>
</div>

<div class="chorus hymn-block">
	<p>Ami nkoyo k’ikot, nkop tuep do</p>
	<p>      Ami nkoyo nkpon Fi kpukpru ;</p>
	<p>Da mi ndien, sin k’out eron Fo,</p>
	<p>     Di, Andinyana, di.</p>
</div>