<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ekwo itoro Obong</p>
	<p>Hallelujah !</p>
	<p>Ikot esie k’isong</p>
	<p>Hallelujah !</p>
	<p>Mm’angel k’itie ebekpo,</p>
	<p>Hallelujah !</p>
	<p>Mbon ima Esie nko.</p>
	<p>Hallelujah !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Isong ye enyong ekwo</p>
	<p>Hallelujah !</p>
	<p>Ekwo mme utibe nkpo</p>
	<p>Hallelujah !</p>
	<p>Kpukpru ikpo ye nkpri</p>
	<p>Hallelujah !</p>
	<p>Ekwo Enye ke nsinsi</p>
	<p>Hallelujah !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ekwo Abasi mbom</p>
	<p>Hallelujah !</p>
	<p>Emi onode mfon</p>
	<p>Hallelujah !</p>
	<p>Kpukpru s’Enye anamde</p>
	<p>Hallelujah !</p>
	<p>Oto ke eyen Esie</p>
	<p>Hallelujah !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Uyo, ubok ye esit</p>
	<p>Hallelujah !</p>
	<p>Ebuana k’itoro kiet</p>
	<p>Hallelujah !</p>
	<p>Ekom akwa edidem</p>
	<p>Hallelujah !</p>
</div>