
<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ima Fo, Ete k’enyon,</p>
	<p>Ama afak nnyin ke ukpon ;</p>
	<p>Do, nnyin ituak ibuot ‘no Fi,</p>
	<p>Yak ima Fo osim nnyin mi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>	Nsinsi Eyen ima !</p>
	<p>	Prophet, oku, ye Andiyana ;</p>
	<p>	Imatuak ibuot ino Fi,</p>
	<p>	Yak mfon Fo osim nnyin mi</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>	Eti Spirit, kpa ibifik Fo</p>
	<p>	Emenere ukpon owo,</p>
	<p>	Ke ntre ituak ibuot ‘no Fi,</p>
	<p>	Yoho nnyin mi y’odudu Fo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>	Ete, Eyen, y’Eti Spirit,</p>
	<p>	Akwa Abasi Kierakiet ;</p>
	<p>	Nnyin imonuho ino Fi,</p>
	<p>Yak mfon Fo osim nnyin mi.</p>
</div>