<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Enye midotke nditie,</p>
	<p>      K’ufok nwed Fo, Obon,</p>
	<p>Afo k’ima ono ufan ;</p>
	<p>     Akwa utib’mfon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ami nsonke eti, Obon,</p>
	<p>     Ndotke ima Fo,</p>
	<p>Ntie nte ekpri nnuene,</p>
	<p>Ikpat Fo akpabiat.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Afo odun k’ata enyon,</p>
	<p>     Akan idiok y’ekim ;</p>
	<p>Edi ke ata akwa ima</p>
	<p>     Afo ‘kakpa k’eto.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nte Enye ikesehe</p>
	<p>     Ubon k’ata ekpri ?</p>
	<p>Osuk idem onyime mkpa ?</p>
	<p>     Ndotke ima ntre.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>	     
	<p>K’ini obukwak okimde,</p>
	<p>     Enye k’ima obo ;</p>
	<p>Enyin iduhe ndidot</p>
	<p>     Uto Ufan oro.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>K’akwa ima ke Enye edi,</p>
	<p>     Okono ke eto ;</p>
	<p>But iyakke mi mmenere</p>
	<p>     Enyin nse Enye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>K’okutde eti k’uwem mi,</p>
	<p>     Oto Fi, O Obon ;</p>
	<p>Kpeme mi, nyun tim kama mi,</p>
	<p>     Ami ndi Okuo.</p>
</div>