<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Jesus, nnyin ikpereke</p>
	<p>Oto unwan’ odude ;</p>
	<p>Usun idionoke ;</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nyana ke idiok-nkpo nnyin ;</p>
	<p>Nam ikut enye, ibin</p>
	<p>Ifep k’esit nnyin mfin ;</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>No nnyin nsuhor’ idem</p>
	<p>Ete, kpeme nnyin uwem ;</p>
	<p>Nam ikpon idiok item ;</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ke ekim, no unwana,</p>
	<p>Ke unen, nam isana,</p>
	<p>Yet esit nnyin asana ;</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Yak ifiok Fo eteme,</p>
	<p>Sana kpere nnyin, kpeme ;</p>
	<p>Obon, kuyak iseme ;</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Nam imek nkpo enyon,</p>
	<p>Isua kpukpru nkpo ison ;</p>
	<p>Da esit nnyin, O Obon,</p>
	<p>	Kop akam nnyin, Ete !</p>

</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>No ukpon nnyin mfon Fo,</p>
	<p>Da uwem nnyin dian k’Okuo ;</p>
	<p>Man ikpedu y’Afo ko,</p>
	<p>	Kop akam nnyin, Ete !</p>
</div>