<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Itiat nsinsi</p>
	<p>Asiahad’ ono mi !</p>
	<p>Yak ndibe k’idem Fo ;</p>
	<p>Yak iyip ye mmon oro</p>
	<p>Eworode eto Fi,</p>
	<p>Eyet ukpon y’esit mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Utom nnamde idige</p>
	<p>Se ibet etemede.</p>
	<p>Mmon-eyet mi ediwak</p>
	<p>Ye ima, ifakke fak</p>
	<p>Mi ukpon ; Afo ikpon</p>
	<p>Akpanam oro, Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>nkpo iduhe k’ubok</p>
	<p>Ndidep mfon ; mbok</p>
	<p>Yak nsine nkpo Fo,</p>
	<p>Nam nduk eti ido ;</p>
	<p>Ami ndedehe mma,</p>
	<p>Yet mi, christ, mbak nkpa.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ke uwem ndude mi,</p>
	<p>Ke mkpa ebetde mi,</p>
	<p>Ke nsimde ke enyon,</p>
	<p>Nnyun nkutde Fi k’ubon,</p>
	<p>Jesus, ndiana Fi,</p>
	<p>Itiat nsinsi.</p>
</div>