<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Akwa usen ‘kemekde Fi,</p>
	<p>     Abasi, Andiyana mi,</p>
	<p>Ofon ndara eti-eti ;</p>
	<p>     Nnyun nsian owo ofuri ini.</p>
</div>
<div class="chorus hymn-block">
<p>Akwa usen ! Akwa usen !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen ;</p>
<p>Ekpep akam y’afar’idem,</p>
<p>Y’ndaresit kpukpru usen.</p>
<p>Akwa usen ! Akwa usen. !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enye ebiere iko oro ;</p>
	<p>     Ami ndi eyen Esie.</p>
	<p>Enye okot, ntien’ Enye,</p>
	<p>     Enem mi nditin ntre.</p>
</div>
<div class="chorus hymn-block">
<p>Akwa usen ! Akwa usen !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen ;</p>
<p>Ekpep akam y’afar’idem,</p>
<p>Y’ndaresit kpukpru usen.</p>
<p>Akwa usen ! Akwa usen. !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ukpon mi duok odudu fo ;</p>
	<p>     Tim nim Enye k’akpaniko.</p>
	<p>Kukpon Jesus Ufan, aba ;</p>
	<p>     Suk yir’ Enye tutu mkpa.</p>
</div>
<div class="chorus hymn-block">
<p>Akwa usen ! Akwa usen !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen ;</p>
<p>Ekpep akam y’afar’idem,</p>
<p>Y’ndaresit kpukpru usen.</p>
<p>Akwa usen ! Akwa usen. !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Heaven okokop unwono mi,</p>
	<p>     Nyenwono nko kpukpru ini.</p>
	<p>Tutu usen mkpa edi,</p>
	<p>     Ami ndikponke Abasi mi.</p>
</div>
<div class="chorus hymn-block">
<p>Akwa usen ! Akwa usen !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen ;</p>
<p>Ekpep akam y’afar’idem,</p>
<p>Y’ndaresit kpukpru usen.</p>
<p>Akwa usen ! Akwa usen. !</p>
<p>Mm’ukwan-nkpo mi Enye k’efen.</p>
</div>