<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>K’ini oyobio uwem emi</p>
	<p>     Ofutde k’inyan y’obot,</p>
	<p>Ami nyekut ebiet uboho</p>
	<p>     Ke ubok Akwa Andibot.</p>
</div>
<div class="chorus hymn-block">
		<p>Enye ‘yedip mi !  Enye ‘yedip mi !</p>
 		<p>Ke ebiet idiok iduhe ;</p>
		<p>Enye ‘yedip mi !  Enye  ‘yedip mi !</p>
		<p>Ke mfut ubok Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Obon mi okpodon mfuho,</p>
	<p>     Idikponke mi ikpon ;</p>
	<p>Kpukpru mme ntuno Esie,</p>
	<p>     Asana ye akwa ima.</p>
</div>
<div class="chorus hymn-block">
		<p>Enye ‘yedip mi !  Enye ‘yedip mi !</p>
 		<p>Ke ebiet idiok iduhe ;</p>
		<p>Enye ‘yedip mi !  Enye  ‘yedip mi !</p>
		<p>Ke mfut ubok Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’ini Satan ye mm’asua mi,</p>
	<p>     Ekokde mme afia mkpa,</p>
	<p>Abasi eyekabade ukut,</p>
	<p>     Asana ye akwa ima.</p>
</div>
<div class="chorus hymn-block">
		<p>Enye ‘yedip mi !  Enye ‘yedip mi !</p>
 		<p>Ke ebiet idiok iduhe ;</p>
		<p>Enye ‘yedip mi !  Enye  ‘yedip mi !</p>
		<p>Ke mfut ubok Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ke ufot oyobio ye edim</p>
	<p>     Mbiomde cross mi ke ison,</p>
	<p>Idiok-nkpo idisimke,</p>
	<p>     K’ ndibede k’ubok Obon.</p>
</div>
<div class="chorus hymn-block">
		<p>Enye ‘yedip mi !  Enye ‘yedip mi !</p>
 		<p>Ke ebiet idiok iduhe ;</p>
		<p>Enye ‘yedip mi !  Enye  ‘yedip mi !</p>
		<p>Ke mfut ubok Esie.</p>
</div>
