<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Yak nnyin Obon,</p>
	<p>     Y'esit, y'ubok, y'uyo nnyin,</p>
	<p>Yak nnyin idat esit,</p>
	<p>     Ke utom ek' Enye anamde.</p>
	<p>Enye k'ekpeme nnyin,</p>
	<p>     Toto ke nsek eyen,</p>
	<p>Tutu osim mfin;</p>
	<p>     Onyun ododion nnyin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>O Andino ufon,</p>
	<p>     Mbok di dion uwem nnyin,</p>
	<p>Ye eti eno emem,</p>
	<p>     Ye idaresit k'usun nnyin.</p>
	<p>Nam nnyin idi Okuo,</p>
	<p>     Nyun teme nnyin k'ukut,</p>
	<p>Ke ererimbot mi,</p>
	<p>     Tutu isim enyon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Akwa Abasi Ete,</p>
	<p>     Kpukpru nnyin mi ikom Fi,</p>
	<p>Inyun ikom Eyem,</p>
	<p>     Y'Eti Sprit k'esit nnyin;</p>
	<p>Akwa Abasi Ibom,</p>
	<p>     Obon enyon y'ison,</p>
	<p>Itoro enyene Fi;</p>
	<p>     Kemi ye kpukpru ini.</p>
</div>


