<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>O kube mi Eti Jesus,</p>
	<p>     Kop eseme mi,</p>
	<p>Ke mfon Fo, ye mbom Fo</p>
	<p>     Jesus, kube mi.</p>
</div>
<div class="chorus hymn-block">
		<p>Jesus ! Jesus</p>
	    <p>	   Obon, kube mi ;</p>
		<p>Ke mfon Fo, ye mbom Fo</p>
	    <p>    Jesus, kube mi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Yak nduok idem mi nno Fi,</p>
	<p>     Di, mbok, nyana mi,</p>
	<p>Yak ntono edon mi nno Fi,</p>
	<p>     Kpuho esit mi.</p>
</div>
<div class="chorus hymn-block">
		<p>Jesus ! Jesus</p>
	    <p>	   Obon, kube mi ;</p>
		<p>Ke mfon Fo, ye mbom Fo</p>
	    <p>    Jesus, kube mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ami nnyeneke nti ido,</p>
	<p>     Mbuot idem k’okuo ;</p>
	<p>Se esit mi k’obobuno,</p>
	<p>     No mi mfon Fo.</p>
</div>
<div class="chorus hymn-block">
		<p>Jesus ! Jesus</p>
	    <p>	   Obon, kube mi ;</p>
		<p>Ke mfon Fo, ye mbom Fo</p>
	    <p>    Jesus, kube mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Jesus, O di don mi esit,</p>
	<p>     Di uwem nno mi ;</p>
	<p>Di udeme mi ke Spirit,</p>
	<p>     Yak nyom kpa</p>
</div>
<div class="chorus hymn-block">
		<p>Jesus ! Jesus</p>
	    <p>	   Obon, kube mi ;</p>
		<p>Ke mfon Fo, ye mbom Fo</p>
	    <p>    Jesus, kube mi.</p>
</div>