
<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mokop uyo odohode,</p>
	<p>      Uyo Obon k’ edi,</p>
	<p>Okot owo  akpaimo</p>
	<p>     Ete, etiene Imo ;</p>
	<p>‘Etiene Mi, mbon mba,</p>
	<p>     Mbon ukut nko,</p>
	<p>Nyefep mbiomo mbufo</p>
	<p>     Kpa mm’idiok-nkpo.’</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nketien’ Obon oro</p>
	<p>     Okotde mi ndi,</p>
	<p>Mmonim ibuot k’ikpanesit</p>
	<p>     Nte oyomde mi ;</p>
	<p>Kadana, mba etre,</p>
	<p>     Ukut ebe nko,</p>
	<p>Menyen’ akwa inemesit,</p>
	<p>     Y’iton nti ido.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mokop uyo odohode,</p>
	<p>‘   Ami nno nkpo k’mfon,</p>
	<p>Mbon nsatiton,  edi</p>
	<p>     Man mmon-uwem ebo.’</p>
	<p>Nketiene Andino</p>
	<p>     Mi mmon-uwem oro,</p>
	<p>nwon nte odohode,</p>
	<p>     Mbo uwem nko.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mokop uyo odohode,</p>
	<p>‘     Unwana k’Ami ndi ;</p>
	<p>Wuk Mi enyin, nyedi Utin</p>
	<p>     Nno fi, kpukpru ini.’</p>
	<p>Mowuk enyin k ‘Utin oro,</p>
	<p>     Utin Nti-ido,</p>
	<p>Nyesan’ nte etemede</p>
	<p>      Tutu nsim enyon.</p>
</div>