<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Eny’ emi anade k’ison,</p>
	<p>     Ifeheke iduo ;</p>
	<p>Eyen ubuene ke ukpon</p>
	<p>     Ama ndinonuho.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Owo nsuhode idem,</p>
	<p>     Oyom kpukpru ini</p>
	<p>Obo mfon esie, y’item,</p>
	<p>     K’ubok Abasi Ibom.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mmoyuho ke se nnyenede,</p>
	<p>     Esisit, mme ediwak ;</p>
	<p>Uyuho ke nyom, Ete,</p>
	<p>     Nte Afo amade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’ofuri ini mi ke ison</p>
	<p>     Ndu uwem emi ;</p>
	<p>Esisit mi, uwak k’enyon</p>
	<p>     Ofon eti-eti.</p>
</div>
