<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>O Jesus, ami nwono</p>
	<p>     Ndinam nkpo nno Fi</p>
	<p>Tutu nsim akpatre,</p>
	<p>     Obon mi, ye Ufan</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>O nam uyo, Obon mi,</p>
	<p>     Anwana eti-eti,</p>
	<p>Akan uyom esit mi,</p>
	<p>     Ye kpukpru uyo efen.</p>
	<p>Obon, di don mi esit,</p>
	<p>     Ndinam mi ntie sun,</p>
	<p>O Jesus, sana kpere,</p>
	<p>     Nyun kpeme mi k’usun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Jesus, Afo ‘monwono</p>
	<p>     Ono ndito Fo,</p>
	<p>Ebiet ek’Afo odude</p>
	<p>     Mbet Fo eyedu.</p>
	<p>Ami nko nwono</p>
	<p>     Ndinam nkpo nno Fi,</p>
	<p>O nam nsim akpatre</p>
	<p>     Ete mi ye Ufan.</p>
</div>
