<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ima em’ midiyakke nnyon,</p>
	<p>Ami mayak idem nno Fi,</p>
	<p>Ntono ntak nno uwem,</p>
	<p>Emi Afo ‘konode mi,</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Unwana ek’ etienede,</p>
	<p>K’usun emi nsanade,</p>
	<p>Mayak utuenikan nno Fi,</p>
	<p>Emi Afo onode mi,</p>
	<p>Man akpayam’ akan.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Inemesit em’ oyomde</p>
	<p>Owo Fo, ke ubiak-idem ;</p>
	<p>K’edim nkut oruk-Abasi,</p>
	<p>Ndien unwono Fo ‘yesu</p>
	<p>K’eyet ibigike.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Cross ek’ anamde nse enyon,</p>
	<p>Ami ndifreke mkpon ;</p>
	<p>Nduok ubon mi ke nton,</p>
	<p>Oto iyip Fo k’ami mbo</p>
	<p>Nsinsi uwem.</p>
</div>
