<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ete, mofok nte Afo</p>
	<p>     Obot, akama mi,</p>
	<p>Mmodo mfeheke ndikut</p>
	<p>     nkpo ekededi.</p>
	<p>nkpo kiet emi ke mbene</p>
	<p>     Ifet ndima Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mebene Fi eti ima</p>
	<p>     Otode k’ukpeme,</p>
	<p>Ndisak imam k’ini imam,</p>
	<p>     Mbon ukut ndise,</p>
	<p>Ye eti esit mbom y’owo,</p>
	<p>     Emi ofuhode,</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nyomke mi ke ererimbot,</p>
	<p>     Minana oto kiet,</p>
	<p>Nyomke akwa nkpo ndinam,</p>
	<p>     Abasi Ibom ndibiet.</p>
	<p>Nam mi mbiet ekpri eyen,</p>
	<p>     Asanade ke mbet.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>K’uwem mi ke ererimbot,</p>
	<p>     K’ebiet ekededi,</p>
	<p>Nam mi nnyene esit kiet,</p>
	<p>     Ye mm’owo nte ami,</p>
	<p>Ye ekpri utom ima ndinam</p>
	<p>     Nno akwa Abasi mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>No mi odudu kpukpru usen,</p>
	<p>     Abasi mfon-ido,</p>
	<p>Ye eti esit ye mbon efen</p>
	<p>     K’ini ntide Fi.</p>
	<p>Yak nyuho k’ekpri itie mi</p>
	<p>     K’akwa ukpono Fo.</p>
</div>
