<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ukpon mi kom Abasi fo,</p>
	<p>     K'idaresit eti;</p>
	<p>Abasi Ibom okpon, odot</p>
	<p>     Ubon kpukpru ini.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo Obon, emesine,</p>
	<p>     Unwana nte ofon;</p>
	<p>Nte ikpehe kiet, Afo</p>
	<p>     Atat ikpa-enyon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Abasi ke mba-ofim</p>
	<p>     Efe k'enyon; onyun</p>
	<p>Obot obuma ue ikan,</p>
	<p>     Onim mmo ke isun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Enye anam ison ada,</p>
	<p>     Toto k'eyo oko;</p>
	<p>Onyun ono akwa inyan,</p>
	<p>     Itie esiemo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ono ufene udia,</p>
	<p>     Emi ekemde mmo ;</p>
	<p>Onyun anam inwan eduk</p>
	<p>     S'ifonde ye owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Se ofion onim item,</p>
	<p>     Utin onyun eti ;</p>
	<p>Anwana kpukpru ebiet</p>
	<p>     Ke edikem ini.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Obon, utom Fo, y'ifiok</p>
	<p>     Ewak, ekpon, ekon ;</p>
	<p>Mfon Fo ye owo onyun</p>
	<p>     Oyoho ke ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Ubon Abasi eyeda</p>
	<p>     Mi ke nsinsi.</p>
	<p>Obon, ke utom Esie</p>
	<p>     Adat esit eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">9</p>
	<p>Eti Ete, nyetoro Fi</p>
	<p>     K'esit mi ye k'ukpon ;</p>
	<p>K'utit uwem mi ke ison</p>
	<p>     Nyekwo Fi ko ke enyon.</p>
</div>


