<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Buot idem kpukpru ini,</p>
	<p>     Ke ukut ekededi,</p>
	<p>Ke uko mme mmem-idem,</p>
	<p>     Yire Christ, oro ‘yekem.</p>
</div>
<div class="chorus hymn-block">
<p>Yire Christ kpukpru ini,</p>
<p>Ke ebiet ekededi,</p>
<p>Yir’ Enye k’ofuri uwem,</p>
<p>Yire Christ, oro ‘yekem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Se, unwan’ Eti Spirit</p>
	<p>     Eyeyama fi k’esit,</p>
	<p>Sana ntre k’ata uwem,</p>
	<p>     Yire Christ, oro ‘yekem.</p>
 </div>
<div class="chorus hymn-block">
<p>Yire Christ kpukpru ini,</p>
<p>Ke ebiet ekededi,</p>
<p>Yir’ Enye k’ofuri uwem,</p>
<p>Yire Christ, oro ‘yekem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kwo k’usun eyed’ eti,</p>
	<p>     Bon akam kpukpru ini ;</p>
	<p>Kot Enye ke nyekidem,</p>
	<p>     Yire Christ, oro ‘yekem.</p>
</div>
<div class="chorus hymn-block">
<p>Yire Christ kpukpru ini,</p>
<p>Ke ebiet ekededi,</p>
<p>Yir’ Enye k’ofuri uwem,</p>
<p>Yire Christ, oro ‘yekem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Buot idem k’uewm emi ;</p>
	<p>      Ye k’uwem nsinsi</p>
	<p>K’obufa Jerusalem ;</p>
	<p>     Yire Christ, oro ‘yekem.</p>
</div>
<div class="chorus hymn-block">
<p>Yire Christ kpukpru ini,</p>
<p>Ke ebiet ekededi,</p>
<p>Yir’ Enye k’ofuri uwem,</p>
<p>Yire Christ, oro ‘yekem.</p>
</div>