<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Emen harp mbufo</p>
	<p>Nti ikot Obon,</p>
	<p>Enam mme uruk k’itoro</p>
	<p>Efiori okposon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Idu k’esen idut,</p>
	<p>Isun’ ika ufok ;</p>
	<p>Itim ikper’ enyon ikan</p>
	<p>Kpukpru ini k’idiok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mfon Esie ye nnyin</p>
	<p>Inyeneke utit ;</p>
	<p>Oson idahemi akan</p>
	<p>Nt’ akayamade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>nkpo ini emi,</p>
	<p>Ye nkpo ini iso,</p>
	<p>Inimke ikan ima</p>
	<p>Abasi ye owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>K’isanade k’ekim</p>
	<p>Mikwe unwan’ enyon,</p>
	<p>Ibuot idem y’Abasi nnyin,</p>
	<p>Ikut emem k’ukpon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ndik y’eyihe nnyin</p>
	<p>Omon edikure,</p>
	<p>Oto ke mfon Obon y’ima</p>
	<p>Y’odudu Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Ekim ‘yesop ebe,</p>
	<p>Ini nnyin eyedi :</p>
	<p>Christ Jesus eyebionore</p>
	<p>Emen nnyin k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Andibere k’Obon</p>
	<p>Eyebo eridion ;</p>
	<p>Andibet erinyana Fo</p>
	<p>Eyekut uboho.</p>
</div>