<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ini mi odu Fi k’ubok ;</p>
	<p>     Obon mi, moyom mmo do ;</p>
	<p>Uwem, mm’ufan, ye ukpon mi</p>
	<p>     Mayak mmo nko nno Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ini mi odu Fi k’ubok ;</p>
	<p>     Ye se mmo ekpededi,</p>
	<p>Enem mme inemke, mm.ntre</p>
	<p>      Kpa nte enemde Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ini mi odu Fi k’ubok ;</p>
	<p>     Ntak ndik iduhe ;</p>
	<p>Ubok Ete idinamke</p>
	<p>     Eyen atua k’ikpikpu.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ini mi odu Fi k’ubok ;</p>
	<p>     Christ emi akakpade ;</p>
	<p>Ubok ami nkekimde,</p>
	<p>     Eteteme mi nde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ini mi odu Fi k’ubok ;</p>
	<p>     Nyebuot idem ye Afo ;</p>
	<p>Ndien mkpa ama ebe</p>
	<p>     Nyedun ke ufok Fo.</p>
</div>
