<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Abasi mi, k’adanoro</p>
	<p>Nsanade k’ison emi,</p>
	<p>Kpep mi ndoho k’esit mi,</p>
	<p>Nam se ofonde Fi k’enyon</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo, Abasi, okpobo</p>
	<p>nkpo mmade k’esit mi,</p>
	<p>Edi Okuo, O Ete mi,</p>
	<p>Nam se ofonde Fi k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>	
	<p>Udono okposon eti,</p>
	<p>Obo uwem mi ke uyen ;</p>
	<p>Ete, kpep mi ndoho Fi,</p>
	<p>Nam se ofonde Fi k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nam se nnyime, O Obon,</p>
	<p>Se Afo edinamde mi,</p>
	<p>Ke nnan-enyin, y’afanikon,</p>
	<p>Nam se ofonde Fi k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ndien ke menduhe mi aba,</p>
	<p>Abasi k’ererimbot mi ;</p>
	<p>Ke heaven nyekwo, k’iso Fo, nte,</p>
	<p>Nam se ofonde Fi k’enyon.</p>
</div>
