<div class="verse hymn-block">
    <p class="verse-number">1</p> 	
 	<p>Owo Abasi Ibom, kutua</p>
	<p>     Itie fo, ete,</p>
	<p>Enye ikereke uyo</p>
	<p>     Afo esemede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nte Afo mukopke se</p>
	<p>     Edohode ? k’enyon</p>
	<p>Ke nsinsi, kpa Enye</p>
	<p>     Etie do Obon.</p>
<div class="verse hymn-block">
    <p class="verse-number">3</p></div>

	<p>Nte afo efehede ndik,</p>
	<p>     Ubok Abasi edfre</p>
	<p>Akandi odudu ?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Enye etie Andikpon</p>
	<p>     K’odudu ye mfon,</p>
	<p>Okposuk nte mukpukwe</p>
	<p>     Anamd’ nkpo k’ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Enye anam owo oson</p>
	<p>     Emi eferede ;</p>
	<p>Esin owo okop uko</p>
	<p>     Emi efehede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>nson-idem owo atak ;</p>
	<p>     edi mbet Obon</p>
	<p>Ekori ke ata uwem</p>
	<p>     Ekabade eson.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Mmo eyesana ke usun,</p>
	<p>     Eti usun uwem ;</p>
	<p>Eson enyun esop ukot</p>
	<p>     Ikopke mmem-idem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Nte akamba inuen mi,</p>
	<p>     Mmo eyedok ke enyon,</p>
	<p>Ke okposon mba, ekan</p>
	<p>     Ison y’ikpa-enyon.</p>
</div>
