<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Obon edi uboho nnyin,</p>
	<p>     Ye okposon idun ;</p>
	<p>Obon otim anyana nnyin</p>
	<p>     K’ini afanikon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mmodo nnyin midifeheke,</p>
	<p>     Ison ama onyon,</p>
	<p>Ema emem ikpo obot</p>
	<p>     Eduok k’akwa inyan.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ata eti akpa odu,</p>
	<p>     Emi eyede eye,</p>
	<p>Onyun enemde obio</p>
	<p>     Obon enyenede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Abasi omodu k’esit,</p>
	<p>     Enye oson ada ;</p>
	<p>Abasi eyefep enye</p>
	<p>     Ke kpukpru mme asua.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Mm’idut edam’idat, enyun</p>
	<p>     Efut eti-eti,</p>
	<p>Obon emem uyo, - mm’idut </p>
	<p>     Edop ofuri-ofuri.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Jehovah odudu ye nnyin ;</p>
	<p>     Enye onyun edi</p>
	<p>Uboho kpukpru mmo emi</p>
	<p>     Eneyende Enye.</p>
</div>
