<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mme angel k'idar'ekwo</p>
	<p>Ke Heav'n, ikwo itoro,</p>
	<p>K'ini Obon owukde</p>
	<p>Kpukpru nkpo otibe.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ekwo itoro k'ini </p>
	<p>Jesus Christ edide mi ; </p>
	<p>Ikwo itoro k'ekwo </p>
	<p>K'ini Christ afakd'owo</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Enyon y'ison eyebe, </p>
	<p>Ikwo emi ibeke ; </p>
	<p>Eda ikwo itoro </p>
	<p>Enam kpukpru obufa. </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ke akwa usen oro, </p>
	<p>Mm'angel eyesio mkpo ; </p>
	<p>Ikot Obon eyekwo </p>
	<p>Psalm ye ikwo itoro mmo. </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Mbufo nti owo </p>
	<p>Ke ison, emem uyo </p>
	<p>Ekwo ikwo itoro </p>
	<p>Eno Abasi mbufo </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ikwo itoro Obon </p>
	<p>Mi k'ison, ye ke enyon, </p>
	<p>Eyekan mkpa y'udi </p>
	<p>Eyedu ke nsinsi. </p>
</div>
