<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Christ ama edi okimmo,</p>
	<p>     Kpurkpru nkpo enyene mi,</p>
	<p>Mmo eke edude k’emi,</p>
	<p>     Ye mm’ nkpon nsinsi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Christ ama edi ikmmo,</p>
	<p>     Ndien yak mm’ufan ekpon ;</p>
	<p>Yak inyene mi asuan ;</p>
	<p>     Christ edi ata mfon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Christ ama edi okimmo,</p>
	<p>     Ndifeheke mkpa,</p>
	<p>K’oro Enye edidonde</p>
	<p>     Esit mi k’ata ima.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Christ ama edi okimmo,</p>
	<p>     Oto do ami nnyene</p>
	<p>Se akande ererimbot,</p>
	<p>     Se minyun ikureke.</p>
</div>
