<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mmokwo ikwo kpukpru ini</p>
	<p>     Mmfuhoke aba,</p>
	<p>Koro Jesus edid’ Ufan,</p>
	<p>     Anam nson nda.</p>
</div>

<div class="chorus hymn-block">
<p>Mmotoro, toro, toro, ofuri ini,</p>
<p>Toro, toro, toro Andifak mi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’ini nsede christ Obon,</p>
	<p>     K’okono ke eto,</p>
	<p>Mmatua eyet eti-eti,</p>
	<p>     K’akwa ima oro.</p>
</div>

<div class="chorus hymn-block">
<p>Mmotoro, toro, toro, ofuri ini,</p>
<p>Toro, toro, toro Andifak mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’adanaemi eridomo</p>
	<p>     Odomode eti,</p>
	<p>Ndopke ndikwo ikwo,</p>
	<p>     ‘Jesus anyana mi !’</p>
</div>

<div class="chorus hymn-block">
<p>Mmotoro, toro, toro, ofuri ini,</p>
<p>Toro, toro, toro Andifak mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Utibe mbuk Christ Obon nnyin.</p>
	<p>     Kworo k’ofuri uyo,</p>
	<p>Man mmo efen ebo uwem,</p>
	<p>     Enyun ekwo nko.</p>
</div>

<div class="chorus hymn-block">
<p>Mmotoro, toro, toro, ofuri ini,</p>
<p>Toro, toro, toro Andifak mi.</p>
</div>