<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Afo akpa mba mi, ufan,</p>
	<p>     Idara odu k’usiere ;</p>
	<p>Ikot k’Edisana nwed</p>
	<p>     Idara odu k’usiere.</p>
</div>
<div class="chorus hymn-block">
<p>Idara odu k’usiere,</p>
<p>     Idara odu k’usiere,</p>
<p>Atatua ke okoneyo,</p>
<p>     Idara odu k’usiere.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mbufo ekufehe ndik,</p>
	<p>     Idara odu k’usiere,</p>
	<p>Mm’atua eyet edop uyo,</p>
	<p>     Idara odu k’usiere.</p>
</div>
<div class="chorus hymn-block">
<p>Idara odu k’usiere,</p>
<p>     Idara odu k’usiere,</p>
<p>Atatua ke okoneyo,</p>
<p>     Idara odu k’usiere.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Okoneyo emi ‘yebe,</p>
	<p>     Idara odu k’usiere,</p>
	<p>Ndien usenubok ‘yedi,</p>
	<p>     Idara odu k’usiere.</p>
</div>
<div class="chorus hymn-block">
<p>Idara odu k’usiere,</p>
<p>     Idara odu k’usiere,</p>
<p>Atatua ke okoneyo,</p>
<p>     Idara odu k’usiere.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>O yak kpukpru edara mfin,</p>
	<p>     Idara odu k’usiere ;</p>
	<p>Idara-nkpo eyebe efep,</p>
	<p>     Idara odu k’usiere.</p>
</div>
<div class="chorus hymn-block">
<p>Idara odu k’usiere,</p>
<p>     Idara odu k’usiere,</p>
<p>Atatua ke okoneyo,</p>
<p>     Idara odu k’usiere.</p>
</div>