<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mm'utom Obon k'enyon y'ison,</p>
	<p>K'obot, y'inyan, y'ofim, </p>
	<p>Ye Nwed Esie, eteme nnyin </p>
	<p>Usun ndifiok Enye. </p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ikpa-enyon ofuk kpukpru, </p>
	<p>Nte ima Andibot </p>
	<p>Akamade kpupkru owo </p>
	<p>K'emem, ye nti ido. </p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mbara ebiet mfon Fo, </p>
	<p>Ke nsuhor'idem edi ; </p>
	<p>Ndien ke ebiet enye odu, </p>
	<p>Ison onwom eti. </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Enyin kiet akan kpukpru enyin, </p>
	<p>K'ofuri mm'udim Esie ; </p>
	<p>Inyan ibom onyun etin </p>
	<p>Akwa enyin Obon. </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Edi idiok-nkpo abiat nnyin; </p>
	<p>Anam nnyin idi nnan ; </p>
	<p>Ikwe mm'utibe nkpo emi </p>
	<p>Akande nnyin okuk.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Afo, Obon, no mi enyin </p>
	<p>Ndikut mm'utom Fo mi ; </p>
	<p>Y'esit emi obuotde idem </p>
	<p>Ke erinyana Fo. </p>
</div>
