<div class="verse hymn-block">
    <p class="verse-number">1</p>
<p>O ebuana nnyin, O idaresit,</p>
<p>	   Nnyin idu k’ubok Abasi nnyin ;</p>
<p>	   O mfon Obon, O ima Esie,</p>
<p>	   Nnyin idu k’ubok Abasi nnyin.</p>
</div>
<div class="chorus hymn-block">
<p>Nna do, nna do,</p>
<p>Ke  esit ubok Abasi nnyin;</p>
<p>Nna do, nna do,</p>
<p>Ke esit ubok Abasi nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
<p>Ami nkut ufon ke usun emi,</p>
<p>	   Nnyin idu k’ubok Abasi nnyin ;</p>
<p>	   Ke usen, k’usen, Enye ofon akan,</p>
<p>	   Nnyin idu k’ubok Abasi nnyin.</p>
</div>
<div class="chorus hymn-block">
<p>Nna do, nna do,</p>
<p>Ke  esit ubok Abasi nnyin;</p>
<p>Nna do, nna do,</p>
<p>Ke esit ubok Abasi nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
<p>Ami mfehe nso, ke usen emi ?</p>
<p>	   Nnyin idu k’ubok Abasi nnyin.</p>
<p>	   Kpukpru ebiet, ami ndu k’emem,</p>
<p>	   Nnyin idu k’ubok Abasi nnyin.</p>
</div>
<div class="chorus hymn-block">
<p>Nna do, nna do,</p>
<p>Ke  esit ubok Abasi nnyin;</p>
<p>Nna do, nna do,</p>
<p>Ke esit ubok Abasi nnyin.</p>
</div>