<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Eti Spirit, teme nnyin</p>
	<p>Ndiyom eno Fo mi ;</p>
	<p>Sin ima Fo k’out nnyin,</p>
	<p>	Edisana’ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ifiok y’mbuotidem,</p>
	<p>Mmo ikpon ikemke kem</p>
	<p>Ndino ata emem,</p>
	<p>	Yak idian ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mma mbok owo k’ udia,</p>
	<p>Nnyun nno uwem mi k’uwa,</p>
	<p>Edi mmenyeneke ima,</p>
	<p>	Ufan iduhe.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Se, ima ofon ido,</p>
	<p>Onyun ebigi nko ;</p>
	<p>Iyekan usua oro</p>
	<p>	K’edisana ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nkutkut eyekure,</p>
	<p>K’ini esisit eyebe ;</p>
	<p>Ima idikureke,</p>
	<p>	Do, no nnyin ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ima ye mbuotidem,</p>
	<p>Ye idorenyin k’uwem,</p>
	<p>Mbiata eno item,</p>
	<p>	Yak iyom ima.</p>
</div>
