<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	Ima, yak nnyin ima ima Obon
	Koro k’ima k’Abasi Ibom odun.
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	Ima, yak nnyin ima, koro, kpa mmo
	Emi emade edi Esiemo.
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	Ima, yak nnyin ima ; koro ntem
	Owo usua imana unwana.
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	Ima, yak nnyin ima ; koro ntem
	Ke idikut Ata Iberedem. 
</div>
