<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ima, yak nnyin ima ima Obon
	<p>Koro k’ima k’Abasi Ibom odun.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ima, yak nnyin ima, koro, kpa mmo</p>
	<p>Emi emade edi Esiemo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ima, yak nnyin ima ; koro ntem</p>
	<p>Owo usua imana unwana.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ima, yak nnyin ima ; koro ntem</p>
	<p>Ke idikut Ata Iberedem. </p>
</div>
