<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>But idinamke mi, Obon,</p>
	<p>     Ndidiono enyin Fo ;</p>
	<p>Nnyun nnam ido Fo ke iso</p>
	<p>     Owo ekededi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Jesus, Obon mi, nyekpono</p>
	<p>     Enyin Fo, ke ison ;</p>
	<p>Man Afo edidiono mi</p>
	<p>     K’akamba usen ikpe.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>	
	<p>Tutu usen oro, Obon,</p>
	<p>     Afo eye etim</p>
	<p>Ekpeme se nnode Fi</p>
	<p>     Man Afo okponim.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ndien k’iso Ete Fo do,</p>
	<p>     Ye angel Fo, Obon,</p>
	<p>Eyeno mi ebiet idun</p>
	<p>     Y’ikot Fo ke enyon.</p>
</div>