<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Eyen ete, O tim sana !</p>
	<p>     Usun fo inwanake ?</p>
	<p>Se unwana ayayama,</p>
	<p>     Buot idem, nam s’ofonde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Usun okpodiok nt’ododiok,</p>
	<p>     Okpnyun oyom eti ;</p>
	<p>Son esit, kyfehe ndik,</p>
	<p>     Buot idem, nam s’ofonde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Duok kpukpru nsu y’nkari,</p>
	<p>     Ye mm’utom ekim efen ;</p>
	<p>Y’atakde, y’odorode fi,</p>
	<p>     Buot idem, y’Abasi fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mm’owo ema fi, mimana,</p>
	<p>     Kubuot idem fo ye mmo ;</p>
	<p>Kpon owo, se Andiyana,</p>
	<p>     Buot idem, nam s’ofonde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>‘ Kpem’ utom Ami nnode fi,</p>
	<p>     Nam k’esit emem, ye’uko,</p>
	<p>K’ini nkpo edisonde,</p>
	<p>     Buot idemy’Abasi fo !’ </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Eyen ete O tim sana,</p>
	<p>      Usun fo okim eti ?   	</p>
	<p>Se unwana ayayama,</p>
    <p>      Buot idem, nam s’ofonde</p>
</div>