<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>K’uyo Fo, O Obon,</p>
	<p>Ekim ebe efep,</p>
	<p>     Onyun osop.</p>
	<p>O kop akam, mbok,</p>
	<p>K’ibenede, ite,</p>
	<p>No mmo minyeneke</p>
	<p>     Uwana Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo Abasi Ibom</p>
	<p>Ama edi k’ison,</p>
	<p>     Anyana nnyin.</p>
	<p>Nam nnyin ikop idem,</p>
	<p>Nam nnan okut usun,</p>
	<p>O no ofuri owo</p>
	<p>     Unwana Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Spirit uwem emi</p>
	<p>Osuhored’ edi</p>
	<p>     Nte ibiom ;</p>
	<p>O nam emem odu</p>
	<p>K’ofuri ison, ndien</p>
	<p>K’itie ekim, O no</p>
	<p>     Unwana Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Akwa Ete, y’Eyen,</p>
	<p>Ata Eti Spirit</p>
	<p>     Mfon, y’ima ;</p>
	<p>K’ebiet ekededi,</p>
	<p>K’ererimbot emi</p>
	<p>O no kpukpru owo</p>
	<p>     Unwana Fo.</p>
</div>