<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Abasi Ibom, Obon k’enyon</p>
	<p>K’akwa odudu nyen’ ison,</p>
	<p>Nam ekondo etoro Fi,</p>
	<p>Nam mmo ekut mbom Fo mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Tin nno mbon ekim ntem,</p>
	<p>Imo ikpon idi Obon ;</p>
	<p>Ekpon mme idiok-nkpo mbufo</p>
	<p>Enyun eduok mm’ndem k’ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mbok, no Zion mfon Fo,</p>
	<p>Da ubon Israel sim ufok,</p>
	<p>Nam enyin mmo ekut nte</p>
	<p>Gentile ye Jew ebuahade.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Abasi ofuri ekondo</p>
	<p>Yak idut ekot Enyin Fo ;</p>
	<p>Suk kpukpru odudu ekim</p>
	<p>Nam eda Fi k’Edidem mmo.</p>
</div>