<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Emenere enyin-usun</p>
	<p>      Nsinsi itim,</p>
	<p>Man Edidem ubon ebe,</p>
	<p>     Cross akakan k’ekon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Mm’udim ekon Abasi Ibom</p>
	<p>     Esan uko-uko,</p>
	<p>Eson eda enam utom,</p>
	<p>     K’iti’utom mbufo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Okposuk udim mbufo</p>
	<p>     Mikwakke okposon,</p>
	<p>Eka ke kpukpru obio</p>
	<p>     Ekan mmo ke ekon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ekufehe, eson eda</p>
	<p>     Nte iren-owo,</p>
	<p>Jesus eye edi Obon</p>
	<p>     Ke kpukpru ekondo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Emenere enyin-usun,</p>
	<p>     Nsinsi itim ;</p>
	<p>Se Edidem ubon k’ebe,</p>
	<p>     Cross amakan k’ekon.</p>
</div>