<div class="verse hymn-block">	
	<p class="verse-number">1</p>
	<p>Jesus eyekan k’odudu</p>
	<p>     Kpukpru mme ebiet k’ison ;</p>
	<p>Nsinsi Andiyana</p>
	<p>     Eyetie ke ubon.</p>
	<p>Se owo eda nkpo do,</p>
	<p>     Eke mmo ekponode,</p>
	<p>Eduok, enyun ese Obon,</p>
	<p>     Emi mmo etorode.</p>
</div>
<div class="verse hymn-block">	
    <p class="verse-number">2</p>
	<p>	Ndien ndito Gentile kpukpru</p>
	<p>	     Eyewara ndiyom,</p>
	<p>	K’edime esit, Enye,</p>
	<p>	     Obon ye Abasi Ibom.</p>
	<p>	Ndien Israel eyeboho</p>
	<p>	     K’ini Jesus Christ, Obon,</p>
	<p>	Andiyana mmo, edide</p>
	<p>	    Ndikar’ ofuri ison.</p>
</div>
