<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>O sese, esit k'adat mi </p>
	<p>Ke mbuk nkopde </p>
	<p>Ke okoneyo emi. </p>
	<p>Christ amana ke Bethlehem, </p>
	<p>Mme angel k'etoro </p>
	<p>Edidem mme ndidem. </p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Esan, ndien, yak ika do </p>
	<p>Inuho k'utene, </p>
	<p>Ye ata ukpono. </p>
	<p>Ikom ntanafion oro, </p>
	<p>Emi ayamade </p>
	<p>K'ata ikpa-enyon. </p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kop ata edinem uyo, </p>
	<p>Oto k'efe enan, </p>
	<p>K'obot kpukpru owo, </p>
	<p>'Eboho ndik ye nsobo, </p>
	<p>Ebene s'eyomde, </p>
	<p>Ndisinke mbufo. </p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ami moyom Fi, O Obon, </p>
	<p>Ke uwem ye mkpa, </p>
	<p>Mi k'ison, ye k'enyon. </p>
	<p>Ndikonke Fi ke nsinsi, </p>
	<p>Nyesana ye Afo, </p>
	<p>K'idaresit, Ete. </p>
</div>