<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Nam mm’idut, O Abasi,</p>
	<p>     K’akwa odudu Fo,</p>
	<p>Ekabade iwiwa</p>
	<p>     Ekpon nkan’ido ;</p>
	<p>Nyun nam ekpep ido Fo</p>
	<p>     Ekpono Fi ikpon,</p>
	<p>Man obio mmo edara</p>
	<p>     K’mfon Fo, O Obon.</p>
</div>

	<p>K’mfon Fo, O Abasi,</p>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>     Afo ono nnyin mi,</p>
	<p>Iko eke ikopde</p>
	<p>     Mfin, k’edem emi.</p>
	<p>Iko eke ikopde</p>
	<p>     Mfin, k’edem emi.</p>
	<p>Iko emi ekpepde,</p>
	<p>     Ete, ibok y’ndem</p>
	<p>Edediok k’iso Fo,</p>
	<p>     Mmo ebebiat item.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Iko Fo, O Abasi,</p>
	<p>     Onyun ayarare,</p>
	<p>Christ Jesus Andiyana,</p>
	<p>     Eke etienede</p>
	<p>Nnyin, ke edem nnyin k’emi</p>
	<p>     Ke okposon ima,</p>
	<p>Man Enye okposio nnyin</p>
	<p>     K’ukwan-nkpo ye mkpa.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Jesus oyom ndiyana</p>
	<p>     Mmo ek’esopde mi ;</p>
	<p>Esin nnyin, O Abasi,</p>
	<p>     Itetiene  Fi.</p>
	<p>Man nnyin mi ikpenyene</p>
	<p>     Udeme, ke otu</p>
	<p>Ikot Fo ek’odude</p>
	<p>     Ke kpukpru ekondo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nam mm’idut, O Abasi,</p>
	<p>     K’akwa odudu Fo,</p>
	<p>Ekabade iwiwa,</p>
	<p>     Ekpon nkan’ido.</p>
	<p>Nyun nam ekpep ido Fo,</p>
	<p>     Ekpono Fi ikpon,</p>
	<p>Man obio mmo edara</p>
	<p>     K’mfon Fo, O Obon.</p>
</div>
