<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Daha k’enyon, Obon,</p>
	<p>     Obon Abasi mi ;</p>
	<p>Nam kpukpru ekondo ebak</p>
	<p>     Enyun ekpono Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Daha k’enyon, Obon,</p>
	<p>     Akwa Obon uwem ;</p>
	<p>Nam kpukpru mm’obio k’ison</p>
	<p>     Etie ke emem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Daha k’enyon, Obon,</p>
	<p>     Spirit Abasi Ibom ;</p>
	<p>Di nyana ererimbot mi,</p>
	<p>     Nyun sio mmo ke ekim.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
 	<p>Kpukpru oruk owo</p>
	<p>     Edaha ke enyon ;</p>
	<p>Ekwo ke okposon uyo</p>
	<p>     Akwa Enyin Obon.</p>
</div>