<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Di dion utom Fo mi,</p>
	<p>     Nyun tiene nnyin, Obon ;</p>
	<p>Doho iko k’odudu Fo</p>
	<p>     Man kpukpru nnyin ikop.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>	
	<p>Obon, di dion utom,</p>
	<p>     K’ini ibenede,</p>
	<p>Nyun tiene nnyin, eti Ete,</p>
	<p>     Di dion utom Fo mi.</p>
</div>	
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Di dion utom Fo mi,</p>
	<p>     Nam nnyin ikpono Fi.</p>
	<p>No kpukpru nnyin akwa ima,</p>
	<p>     Tutu oson eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Di dion utom Fo mi,</p>
	<p>     Kpep nnyin iko uwem,</p>
	<p>Nyun yak odudu Esie</p>
	<p>     Esin mbuotidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Di dion utom Fo mi,</p>
	<p>     Yak Spirit Fo edi ;</p>
	<p>Afo ikpon enyen’ ubon,</p>
	<p>     Mfon enyene nnyin.</p>
</div>