<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mbok Abasi, yarare</p>
	<p>      Idem Fo ke iko</p>
	<p>Ima Fo, ke iko</p>
	<p>     Owo akpanimo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo Idem Fo, O Obon,</p>
	<p>     Edi ima, emi</p>
	<p>Mitreke ndino owo</p>
	<p>     Mfon eti-eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Afo ke erino owo</p>
	<p>     Eyen Fo ndikpa</p>
	<p>Kpan Enye akpanyana mmo,</p>
	<p>     Owut akwa ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mmodo akpa akwa ibet</p>
	<p>     Ono owo item,</p>
	<p>Ema Fi ke ofuri esit</p>
	<p>     Kpa ke ofuri uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Onyun ke udian’ iko</p>
	<p>     Ono item enwen,</p>
	<p>Nte idem mmo yak owo</p>
	<p>     Ema owo efen.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Sin kpukpru, O Obon enim</p>
	<p>     Iko ima emi,</p>
	<p>Kpan nte ndito Fo, mmo</p>
	<p>     Efon ido eti.</p>
</div>