<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Christian nam utom fo</p>
	<p>     No Jesus Obon,</p>
	<p>Akakpade k’eto</p>
	<p>     Ono nnyin k’ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Yak etop Abasi</p>
	<p>     Atak fi k’einua,</p>
	<p>Kpukpru ini kworo</p>
	<p>     Utibe ima.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Yak esit ofiop fi</p>
	<p>     Ke utom Esie,</p>
	<p>Man ada owo edi</p>
	<p>     Nditien’ Enye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Bon akam kukpa mba</p>
	<p>     Ke mbuotidem ;</p>
	<p>Yom nkpo uto nno</p>
	<p>     Jesus Edidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nam utom fo tutu</p>
	<p>     Mkpa ekpere,</p>
	<p>Obon eyekom fi</p>
	<p>     K’obio Esie.</p>
</div>
