<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Edaha ke enyon,</p>
	<p>     Ekpon nkpo ison ;</p>
	<p>Esin esit y’ukpon y’uwem</p>
	<p>     Ke utom Edidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Edaha ke enyon,</p>
	<p>     Eyom nkpo  enyon ;</p>
	<p>Eda esit ima edi,</p>
	<p>     Ebuana k’Abasi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Edaha ke enyon,</p>
	<p>     Enwana okposon ;</p>
	<p>Utom okpon eti-eti,</p>
	<p>     Esop isan edi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Emen Cross Christ k’enyon,</p>
	<p>     Etien’ Enye k’usun</p>
	<p>Enye asanade k’ison ;</p>
	<p>     Edaha ke enyon.</p>
</div>
