<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Abasi, Afo omokut</p>
	<p>     Nte mferede</p>
	<p>Ke esit, k’erikop iko</p>
	<p>     Afo etemede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">12</p>
	<p>Mmoyom, Abasi, ndinam</p>
	<p>     Nte enende Fi ;</p>
	<p>Edi ndi sime awak</p>
	<p>     Akan, ke esit mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nam mi nson esit, Obon,</p>
	<p>     K’iko Fo ye ido ;</p>
	<p>Nyun sin nkan mm’</p>
	<p>     K’akwa odudu Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mbok, Abasi mi, nam mi</p>
	<p>     Nkori ke mfon,</p>
	<p>Ye ifiok Andiyana,</p>
	<p>     Kpa Jesus Christ Obon.</p>
</div>