<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Enyin Jehovah esese</p>
	<p>     Idun nti owo ;</p>
	<p>Enye akpan uton, okop</p>
	<p>     Uyo eseme mmo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Obon obop iso ese</p>
	<p>     Oburobut owo ;</p>
	<p>Enye onyun esin ison</p>
	<p>     Efre itie mmo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nti owo ekut ukut</p>
	<p>     Ye nnanenyin eti ;</p>
	<p>Obon okop eseme mmo</p>
	<p>     Onyun ababare.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mm’andisua edinen owo</p>
	<p>     Eyekpana mkpa ;</p>
	<p>Ikot Obon edu uwem</p>
	<p>     Emi mikureke.</p>
</div>