<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Tien’ ukpon mi, itie emem ;</p>
	<p>     Do Jesus k’ebebet ;</p>
	<p>Do, duo k’ukot Obon emem,</p>
	<p>     Owo ikpaha do.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Unwono Fo kea mi nda</p>
	<p>     Nsana nkpere Fi ;</p>
	<p>Mm’idiok owo k’Afo ’kokot,</p>
	<p>     Obon, se ami ndi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Satan odomo okposon,</p>
	<p>     Mm’idiok-nkpo efik mi ;</p>
	<p>K’ekon k’anwa, y’ndik k’esit,</p>
	<p>     Mmenyene emem k’Afo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Otu-ekon y’uboho mi,</p>
	<p>     Nyesana ye Afo ;</p>
	<p>Nyenyun ndohom kpukpru mm’asua,</p>
	<p>     K’Afo akakpa ’no mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Utibe ima !    Obon obiom</p>
	<p>     Cross Esie aka mkpa ;</p>
	<p>Man kpukpru mme idiok owo</p>
	<p>     Ebuot idem ye Enye.</p>
</div>