<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>No mi mbuotidem, emi</p>
	<p>     Midifiakke edem ;</p>
	<p>K’ubuene ye idiok ini</p>
	<p>     Etie ukem-ukem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Isioroke uyo, k’ini</p>
	<p>     Obod’ ufen k’idiok ;</p>
	<p>K’ukut ebere y’Abasi,</p>
	<p>     Obo nti ifiok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Mbuotidem, emi otim</p>
	<p>     Oson k’ini ekon ;</p>
	<p>Inyeneke ndik y’ofim</p>
	<p>     K’abarade oson.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Mbuotidem emi, ama</p>
	<p>     Mfafaha usun,</p>
	<p>Tutu osim k’usen mkpa</p>
	<p>     Ye akpatre idun.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>No mi, Obon, mbuotidem</p>
	<p>     Emi ofonde ntem ;</p>
	<p>Man k’ini nsanade k’ison</p>
	<p>     Nkop inem enyon.</p>
</div>
