<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ima Abasi amakan</p>
	<p>     Kpukpru mm’ima eken,</p>
	<p>Di dun kesit kpukpru nnyin mi,</p>
	<p>     Mme unwono mfon Fo, nam !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Jesus, Afo edi mbom,</p>
	<p>     Y’ anana-adana ima ;</p>
	<p>Tiene nnyin mi y’uwak mfon</p>
	<p>     O Akwa Andiyana.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Okposon Abasi, nyana,</p>
	<p>     No kpukpru nnyin uwem Fo ;</p>
	<p>Di ndien, kukpon aba nnyin,</p>
	<p>     Dun ye nnyin ofuri-ofuri.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Iyebuana ndino Fi</p>
	<p>     Ikwo, ye ekom k’ison ;</p>
	<p>Iyetor Fi k’nsinsi</p>
	<p>     Nte udim Fo k’enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Yet esit nnyin nam obufa,</p>
	<p>      Kuyak idiok-nkpo osuk ;</p>
	<p>Yak akamba erinyana</p>
	<p>     Osim esit nnyin kpukpru.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Nam ikori ke mbiet Fo,</p>
	<p>     Tutu nnyin isim k’enyon ;</p>
	<p>Tutu nnyin itop anyanya</p>
	<p>     Nnyin, iduok k’ukot Obon.</p>
</div>
