<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Da uwem mi, yak edi</p>
	<p>Ek’enyenede kpa Fi ;</p>
	<p>Da mm’usen mi ye mm’isua,</p>
	<p>Yak esuk etoro Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Da mm’ubok mi, nyun nam mmo</p>
	<p>Etoro Fi k’ima Fo ;</p>
	<p>Da mm’usen mi ye mm’isua,</p>
	<p>edisop ikpat nno Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>	
	<p>Da uyo mi, nyun nam mi</p>
	<p>nkwo ikwo nno Obon mi ;</p>
	<p>Da mkpok-inua nko</p>
	<p>Yoho mmo y’itoro Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Da kpukpru inyene mi ;</p>
	<p>Nkpesinke ndino Fi ;</p>
	<p>Da ofuri ikike mi</p>
	<p>Nam nte enemde Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>	
	<p>Da esit mi, nam edi</p>
	<p>Okuomo ofuri-ofuri ;</p>
	<p>Da enye, edi Okuo,</p>
	<p>Nam edi ebekpo Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Da ima mi, Obon mi,</p>
	<p>K’emi nyak kpukpru nno Fi.</p>
	<p>Da idem mi, ndien  nyedi</p>
	<p>S’idinyenede kpa Fi.</p>
</div>
