<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Edi owo akpaimo,</p>
    <p>Edi k'iso Jehovah mi ;</p>
    <p>Emen uyo, ekwo ikwo,</p>
    <p>Edara ndikom Enye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Jehovah, Eny' edi Obon</p>
    <p>Abasi kpukpru ekondo ;</p>
    <p>Enye ono owo uwem,</p>
    <p>Inyun idi ikot Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Ebono mi, edat esit,</p>
    <p>Eduk k'ufok Abasi Ibom ;</p>
    <p>Emenere uyo k'enyon,</p>
    <p>Ekwo itoro Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Jehovah, Afo ofofon ;</p>
    <p>Mbom Fo idikureke ;</p>
    <p>Akpaniko Fo eyeda,</p>
    <p>Osim akpaimo ini.</p>
</div>
