<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Mme okpono Abasi</p>
	<p>Ke akwa idara</p>
	<p>Edi, yak ika ke Bethlehem mfin;</p>
	<p>Christ ana k’itie</p>
	<p>Udia ufene.</p>
	<p>Edi, yak nnyin itoro, Christ Obong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Akwa Abasi nnyin</p>
	<p>Nsinsi unwana</p>
	<p>Eyen anwan aman enye k’otu owo</p>
	<p>Eyen Abasi</p>
	<p>Edibon kierakiet</p>
	<p>Edi, yak nnyin itoro, Christ Obong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kpukpru mbufo mm’angel</p>
	<p>Ke obio Abasi</p>
	<p>Ekwo okposong itoro Esie;</p>
	<p>Eno Enye ubong</p>
	<p>Etoro enye k’enyong</p>
	<p>Edi, yak nnyin itoro, Christ Obong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Amen, nnyin ikom Fi</p>
	<p>Jesus Andinyanga</p>
	<p>Iyekpono enyin Fo ke nsinsi</p>
	<p>Eyen Abasi</p>
	<p>Ke obuk ye iyip nnyin</p>
	<p>Edi, yak nnyin itoro, Christ Obong.</p>
</div>