<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>‘Di,’ ke Jesus okokot,</p>
	<p>Yak ikpan uton ikop ;</p>
	<p>‘Wara di, nyun mek ido</p>
	<p>Ek’ nkpepde mbufo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>‘Kpukpru nditowon</p>
	<p>Eno Mi ofuri ukpon ;</p>
	<p>Mbufo  nkani iren,</p>
	<p>Eyoyom Mi ke uwem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>‘Mmo minyimeke, enam</p>
	<p>Se mifonke mmo k’akpan ;</p>
	<p>Mmo mimana Mi, ema</p>
	<p>Ndutuho ye mkpa.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>‘Se, inemesit odun</p>
	<p>Ye emem, k’eti usun</p>
	<p>Ek’ntemede owo ;</p>
	<p>Bo ata eti nkpo.’</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>‘Di,’ ke Jesus okokot,</p>
	<p>Yak ikpan uton ikop ;</p>
	<p>‘Wara di, nyun mek ido</p>
	<p>Ek’ nkpepde mbufo.’</p>
</div>
