<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Nte nkpo osuk efek fi,</p>
	<p>     Abiat uwem fo ;</p>
	<p>Tien’ Obon ; Enye k’okot fi,</p>
	<p>     ‘Du k’emem !’</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nt’ Enye enyen’ idiono</p>
	<p>     Man owo ofiok</p>
	<p>Se unan k’nkan, ye k’ukot,</p>
	<p>     Ye k’ubok.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’ntiened’ Enye k’ison mi</p>
	<p>     Nso ke ndibo ?</p>
	<p>Mmon eyet ye nnanenyin ye</p>
	<p>     Mfuho.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nte Enye ayar’ anyanya</p>
	<p>     Ke ibuot Esie ?</p>
	<p>Ih, ayar’ anyanya ikpo</p>
	<p>     Nkukim.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Mma nyire Enye k’uwem mi</p>
	<p>     Nso k’ami nkpobo ?</p>
	<p>Erikan ye erinyana</p>
	<p>     Ke nsinsi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Mma nyak idem mi nno Enye,</p>
	<p>     Mme Enye eyesin ?</p>
	<p>Idisinke !    Enye okot fi</p>
	<p>     Kpa mfin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Mma nkut nnyun ntiened’ Enye</p>
	<p>     Mme ’yanyana mi ?</p>
	<p>Bup ikot Esie k’ison mi,</p>
	<p>     Se mmo enyon.</p>
</div>
