<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Kop ata eti uyo,</p>
	<p>     Andinwam,</p>
	<p>Nam iko osim owo,</p>
	<p>     Andinwam.</p>
	<p>Suan iko k’ofuri ison,</p>
	<p>Idige nkpo unyam ;</p>
	<p>Fiori ke enyin Obon</p>
	<p>     Andinwam.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Sana ke kpukpru mm’idut,</p>
	<p>     Andinwam ;</p>
	<p>Be k’inyan mme dok k’obot ;</p>
	<p>     Andinwam.</p>
	<p>Se mme nkim-owo ;</p>
	<p>Se mbon mbubiam ;</p>
	<p>Se uboho mmo nko,</p>
    <p>  Andinwam.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kwo k’ini afanikon,</p>
	<p>     Andinwam.</p>
	<p>Andiyana ye Obon,</p>
	<p>     Andinwam.</p>
	<p>Ke ndik anamde fi</p>
	<p>Kwo ikwo nyun bon akam.</p>
	<p>Jesus akakan udi ;</p>
	<p>     Andinwam.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>No ofim akwa uyo ;</p>
    <p>      Andinwam</p>
	<p>Yak mm’idut edara nko ;</p>
	<p>     Andinwam.</p>
	<p>Tan’ ese Akwa Obon,</p>
	<p>Andikpon ue Andinam.</p>
	<p>Efiori, enyon ye ison,</p>
	<p>     Andinwam.</p>
</div>