<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Sese !	     Esen ada k’usun !</p>
	<p>Oyom ye afo ndidun ;</p>
	<p>Atuak, onyun ebet fi do,</p>
	<p>Ete, ufan, kusin Imo !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ka, sio usun, koro owo</p>
	<p>Mikwe oruk Ufan oro ;</p>
	<p>Esit adat owo emi</p>
	<p>Ufan emi etienede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Se !     Enye anyanyan ubok,</p>
	<p>Edinyanna fi ke idiok.</p>
	<p>Kere ata akwa ima</p>
	<p>Jesus ada’ ama mm’asua.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Obon ukpon, Obon emem,</p>
	<p>Nam mm’asua Fo esuk idem,</p>
	<p>Enyime Fi akara mmo</p>
	<p>Akar’ idut akpaimo.</p>
</div>
