<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Da mm’andikop nsat-iton,</p>
	<p>     Edi ke mmon uwem,</p>
	<p>Idim emi asanade</p>
	<p>     Ono kkpukpru owo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Didie ke mbufo esuk</p>
	<p>     Eda nson-idem,</p>
	<p>Y’inyene mbufo, eno</p>
	<p>     Se midige uwem ?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ekop, enyun edia udia</p>
	<p>     Ami nnode mbufo</p>
	<p>K’ikpuikpu mi; enyun enwun</p>
	<p>     Se inynede uwem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ami nyenam ediomi Mi</p>
	<p>     Emi mikureke</p>
	<p>Ye mbufo ; nyenyun nno mfon</p>
	<p>     Udeme ikot Mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Eyom Abasi k’edikam</p>
	<p>     Ini ndikut Enye ;</p>
	<p>Ekot Enye adanoro</p>
	<p>     Enye ekperede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Yak mme abiat ibet Obon</p>
	<p>    Ekpon ukwan ido ;</p>
	<p>Yak idiok owo onyun</p>
	<p>     Asana ke esit.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Yak mmo ekabade, enyun</p>
	<p>     Ke ofuri esit mmo</p>
	<p>Eyom Abasi, ye mfon</p>
	<p>     Christ Andiyana owo.</p>
</div>
