<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Fiak andiyo, nyon ufok,</p>
	<p>     Uso k’ebene fi</p>
	<p>Ete, O fehe idiok,</p>
	<p>Ete,  O wara di ;</p>
	<p>	Fiak edem !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>   
	<p>Fiak andiyo, nyon ufok,</p>
	<p>     Jesus k’ebene fi,</p>
	<p>Ete, tiene Imo mbok,</p>
	<p>Imo inyana fi.</p>
	<p>	Fiak edem !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Fiak andiyo,  men idem ;</p>
	<p>     Spirit eteme fi</p>
	<p>K’akpaniko, ye ifiok</p>
	<p>Emi anyanade.</p>
	<p>	Fiak edem !</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Fiak andiyo, men idem ;</p>
	<p>     Mkpa ekpere fi ;</p>
	<p>Mufeheke k’ini uwem</p>
	<p>Ubohoke k’udi.</p>
	<p>	Fiak edem !</p>
</div>
