<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>K’okot, k’okot, Anie ?</p>
	<p>K’ebet, k’ebet, Enye do ;</p>
	<p>Se uto Esen adade</p>
	<p>Akanam owo mikwe ;</p>
	<p>O ukpon mi, se nkpo ’mi,</p>
	<p>Mme afo ukereke ?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’okot, k’okot, Enye do</p>
	<p>K’ebet, k’ebet, eyeye ;</p>
	<p>Se ikot okot eti-eti,</p>
	<p>Enye esesiri usun,</p>
	<p>Ediwak mbio anade ;</p>
	<p>Ndiberere oson.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’okot, k’okot, se Enye  </p>
	<p>K’ebet, k’ebet, mmo k’usun ;</p>
	<p>Ih, ubok emi ekimde,</p>
	<p>Atatuak ke esit fo,</p>
	<p>Enye ek’ebetde fi do</p>
	<p>Edi Andinyana Fo.</p>
</div>
