<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Eti Ete, ima Fo</p>
	<p>Ayam k’usun owo ;</p>
	<p>K’ini eyo okutde,</p>
	<p>		Du ye nnyin, Ete.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eti Andiyan’ owo,</p>
	<p>Kpeme nnyin k’okoneyo ;</p>
	<p>No unwana Fo, Ete,</p>
	<p>		K’ini isonde.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti Spirit, di Abasi,</p>
	<p>K’ini ubiak osimde ;</p>
	<p>Nam unwana ayama</p>
	<p>		Ke ini mkpa.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ata eti Abasi,</p>
	<p>Ekim ikimk’ ino Fi ;</p>
	<p>Mmo Afo ekpemede,</p>
	<p>		Ekim isikwe.</p>
</div>