<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ke mfon emi Abasi</p>
	<p>     Onode mi mfin,</p>
	<p>Nyetoro Obon mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">12</p>
	<p>Obon mi, nso ke ndinam</p>
	<p>     Nno Fi, kpukpur’ usen</p>
	<p>Nditoro Enyin Fo ?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Afo omowut mi usun,</p>
	<p>     Kop akam mi mbok,</p>
	<p>Dion ubok-utom mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ku yak mi nkpon ima Fo,</p>
	<p>     Yak mi mma emem Fo,</p>
	<p>Tutu Afo okot mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Da erinyana Fo sok mi,</p>
	<p>     Sana di kpeme mi</p>
	<p>K’ebiet idun mi mi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Afo Itiat-uboho,</p>
	<p>     Kpeme mi ke ndede,</p>
	<p>Ke akwa odudu Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>K’ini ami ndikpade</p>
	<p>     Suk bat mi nte Okuo,</p>
	<p>Nyun da mi dok ke enyon.</p>
</div>
