<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Abasi mi, okoneyo k’edi,</p>
	<p>Eyo okut, mbok, di du y’ami ;</p>
	<p>Nkwe aba ufan ekededi,</p>
	<p>O Andinyana, di di du y’ami.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ibio usen uwem osop ebe,</p>
	<p>Mm’nkpo ison enyun eyemere,</p>
	<p>Kpukpru ekpuhore eti-eti,</p>
	<p>Afo ukpuhokede, du y’ami.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kutiene mi k’odudu Edidem,</p>
	<p>Edi sun-sun k’ifure ye emem,</p>
	<p>Ye mmon eyet, tua mi mbom k’emi,</p>
	<p>Ufan mm’anam-idiok, di du y’ ami.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Moyom Iso Fo ke ofuri ini,</p>
	<p>Afo ikpon anyana mi k’ini</p>
	<p>Usua ukpon asan’ ekpere mi ;</p>
	<p>Ke eti, ye idiok, di du y’ami.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>K’nin Afo odud’ ekpere mi,</p>
	<p>Nkereke usua ekededi,</p>
	<p>Ami mfeheke mkpa, mm’udi.</p>
	<p>Makan kpukpru k’Afo odu y’ami.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ndien k’mkpa ekperede, Obon,</p>
	<p>O nyan ubok Fo, wut idun enyon,</p>
	<p>Usun heaven ana inwan k’emi ;</p>
	<p>K’uwem, y’mkpa, Obon, suk du y’ami.</p>
</div>
