<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Utin k’osuhode,</p>
	<p>     Eyo k’okut ;</p>
	<p>Yak ima nnyin anam</p>
	<p>     Nkpe-ubok k’ukut.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nte Christ ke eto</p>
	<p>     Akanamde,</p>
	<p>Ke ediyak ukpon</p>
	<p>     Nno Ete Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ntre k’ami nyak</p>
	<p>     Ukpon mi nno</p>
	<p>Abasi, Andibot</p>
	<p>     Uwem akpaimo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ndien nnyin iyede</p>
	<p>     Ke ifure ;</p>
	<p>Inyene ndik,</p>
	<p>     Ye se isemede ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ibohoke Enye</p>
	<p>     Ndinam se</p>
	<p>Enye ekerede</p>
	<p>     Ye ikot Esie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ntem ke ndinam</p>
	<p>     Kpukpru ini,</p>
	<p>Ke edidu uwem</p>
	<p>     K’odudu Abasi.</p>
</div>