<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>O Jesus, utin ukpon mi,</p>
	<p>Ekim ikimke ino mi.</p>
	<p>Kuyak nkpo ison emi</p>
	<p>Esin ami ndikwe Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’ini idap anamde mi,</p>
	<p>Yak mi nsuk mbre Fi.</p>
	<p>K’ntatk’ aba enyin k’ison</p>
	<p>Yak nkut Fi ko ke enyon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kam du ye ami, O Obon,</p>
	<p>K’ofuri uwem mi mi k’ison,</p>
	<p>Kam du ye ami ke mkpa,</p>
	<p>Ke ndikwe mm’ufan aba.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Se mmo oro mimana Fi,</p>
	<p>Tua mmo mbom idahemi,</p>
	<p>Nam Spirit Fo eteme mmo</p>
	<p>K’usun ata unwana Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Se mmo oro edonode,</p>
	<p>Ye mmo oro efuhode,</p>
	<p>Tim kpeme nyun don mmo esit,</p>
	<p>Man mmo ye Afo edi kiet.</p>
</div>
