<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ifun ison, isasuan</p>
	<p>     Mkpasip ke ison,</p>
	<p>Ubok Obon obok enye.</p>
	<p>     Kpa Enye oduok mmon.</p>
	<p>Enye ono ndaeyo,</p>
	<p>     Ini ukwo nko,</p>
	<p>Ono nkene edim,</p>
	<p>     Ye ofim ye eyo.</p>
</div>
<div class="chorus hymn-block">
	<p>Kpukpru s’inyenede</p>
	<p>     Eto k’ubok Obon ;</p>
	<p>Ekom Enye, ekom Enye,</p>
	<p>     K’ntak akwa mfon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ubok Obon amanam</p>
	<p>     Ofuri enyon y’ison,</p>
	<p>Anam mm’eto esehe,</p>
	<p>     Owuk ata enyon.</p>
	<p>Mm’unam ikot ye mm’inuen</p>
	<p>     Ebuot idem y’Enye,</p>
	<p>Yak kpukpru nditowon</p>
	<p>     Enyun enam ntre.</p>
</div>
<div class="chorus hymn-block">
	<p>Kpukpru s’inyenede</p>
	<p>     Eto k’ubok Obon ;</p>
	<p>Ekom Enye, ekom Enye,</p>
	<p>     K’ntak akwa mfon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ikom Fi, O Ete nnyin,</p>
	<p>     K’akwa mfon y’ima,</p>
	<p>Ke erino eti uwem,</p>
	<p>     Utom ye udia.</p>
	<p>Baba eno iduhe</p>
	<p>     Emi odotde Fi,</p>
	<p>Edi yak nnyin ikpono,</p>
	<p>     Inyun inyene Fi.	</p>
</div>
<div class="chorus hymn-block">
	<p>Kpukpru s’inyenede</p>
	<p>     Eto k’ubok Obon ;</p>
	<p>Ekom Enye, ekom Enye,</p>
	<p>     K’ntak akwa mfon.</p>
</div>