<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Nnyin imen itoro nnyin,</p>
	<p>     Ek’inode Fi, Obon,</p>
	<p>K’abana akwa ima</p>
	<p>     Ek’amd’ owo k’ison ;</p>
	<p>     Ediye nkpo odu</p>
	<p>Afo okobot kpukpru.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Nnyin imen itor nnyin,</p>
	<p>     Ek’inode Fi, Obon ;</p>
	<p>Mfon Fo kpukpru ini,</p>
	<p>     K’ada nnyin k’iso k’ison,</p>
	<p>Mfri, utin, ye ufene,</p>
	<p>Ek’Afo enyenede.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nnyin imen itoro nnyin,</p>
	<p>     Ek’inode Fi, Obon,</p>
	<p>Kor’ Afo onode nnyin</p>
	<p>    Ediwak ufan k’ison ;</p>
	<p>Kpa mfon obukidem,</p>
	<p>Ye nkpo mbuotidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nnyin imen itoro nnyin,</p>
	<p>     Ek’inode Fi, Obon,</p>
	<p>Kabana mm’eno eke</p>
	<p>     Anamde ikut k’ison ;</p>
	<p>Kpa mfon obukidem,</p>
	<p>Ye nkpo mbuotidem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nnyin imen itoro nnyin,</p>
	<p>     Ek’inode Fi, Obon,</p>
	<p>K’aban’ ikot Fo, emi</p>
	<p>     Ekponode Fi eti ;</p>
	<p>Enyun enamde okposon</p>
	<p>Utom Fo k’ofuri ison.</p>
</div>