<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Yak itoro Abasi,</p>
	<p>Ke ikwo idaresit ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enye okobot utin</p>
	<p>Ono nnyin uwemeyo ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Enye okobot ofion</p>
	<p>Akpayama ke ison ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Toro Enye ’konode nnyin</p>
	<p>Edim ndidep k’inwan ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Inwan, kpa Enye oto,</p>
	<p>Eti eduek Enye ono ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Yak itoro Enye emi</p>
	<p>Ke eti idiok emi ;</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Ye k’udia nsinsi,</p>
	<p>Enye ono k’Obon nnyin</p>
	<p>Koro mbom Esie</p>
	<p>Ye nnyin midikureke.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Ubon enyene Ete,</p>
	<p>Ye Jesus, Eyen Esie ;</p>
	<p>Ye Eti Spirit nko</p>
	<p>Ke nsinsi, Amen.</p>
</div>