<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>K’ini mm’ekpemerong oko</p>
	<p>Edude ke inwang</p>
	<p>Angel Abasi ekedi</p>
	<p>Osuhore k’isong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enye ‘kodohe kpukpru mmo,</p>
	<p>‘Ekufehe ndik</p>
	<p>Nti mbuk idaresit</p>
	<p>K’ami nda ndi</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eka ke Bethlehem, ekut</p>
	<p>Andinyanga mbufo</p>
	<p>Amanade k’oruk David</p>
	<p>Ono ofuri owo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ndien, sese, nsek Eyen</p>
	<p>Ewande ke ofong</p>
	<p>Esin Enye k’usin-udia</p>
	<p>Enimde eno enang.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Idah’oro mbon enyong</p>
	<p>Ebionoro k’enyin</p>
	<p>Ekwo, ekom Abasi Ibom</p>
	<p>Ekwo ikwo emi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>‘O yak ubong enyen’ enye</p>
	<p>Abasi, ke enyong</p>
	<p>Ndien k’otu nti owo;</p>
	<p>Emem odu k’isong.</p>
</div>
