<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ukpon mi, se isua efen</p>
	<p>     K’uwem fo mi ebe ;</p>
	<p>Mme kiet emi otonode,</p>
	<p>     Edidi akpatre.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ukpon mi, wara demede,</p>
	<p>     Nyun se itie fo ;</p>
	<p>Domo, k’iko Abasi Ibom,</p>
	<p>     Esit fo ye ido.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ke obufa ini emi </p>
	<p>     Otonode mfin,</p>
	<p>Yak mi nsin ifik nyom</p>
	<p>     nkpo Abasi Ibom.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nam mi nsop ukot eti,</p>
	<p>     Abasi, ke usun</p>
	<p>Emi akade ebiet</p>
	<p>		Ikot Fo ededun.</p>
</div>
