<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Obufa isua k’edi</p>
	<p>     Obon yak edi ntre,</p>
	<p>Ke utom ye edibet,</p>
	<p>     Obufa ono Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Obufa isua mbom,</p>
	<p>     Mbuotidem ye mfon ;</p>
	<p>Isua idara efen,</p>
	<p>     K’uyama iso Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Isua nkori efen</p>
	<p>     Emi ikomde Fi,</p>
	<p>Isua em’idionde</p>
	<p>     Edidu Fo ye nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Obufa isua utom</p>
	<p>     Em’ikutd’ ima Fo ;</p>
	<p>Isua emi ikpepde</p>
	<p>     Ndinam utom Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Obufa isua k’edi,</p>
	<p>     Obon yak edi ntre,</p>
	<p>K’ererimbot ye k’enyon,</p>
	<p>     Obufa ono Fi.</p>
</div>
