<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Nte adan’ ini</p>
	<p>     Odu ke heaven k’enyon ?</p>
	<p>Mme ukwo, mme ndaeyo,</p>
	<p>     Mm’isua, mme ofion ?</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Baba, mmo iduhe ;</p>
	<p>     Kpukpru ekure ema</p>
	<p>K’ini ikot Abasi nnyin</p>
	<p>     Esobode ye Enye.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Do, ke emem y’ima,</p>
	<p>     Ye edisana ido ;</p>
	<p>Mfuho idifuhoke</p>
	<p>     K’eti ebiet oro.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ntre yak nnyin ikom</p>
	<p>     Obon Abasi nnyin,</p>
	<p>Ke obufa isua emi</p>
	<p>     Otonode mfin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nnyin k’ikokom Fi mi,</p>
	<p>     Akwa Iberedem.</p>
	<p>Nam esit nnyin eyire Fi</p>
	<p>     K’ofuri-ofuri uwem.</p>
</div>
