<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ubok Fo ke eyo oko</p>
	<p>     Okposon ke odudu ;</p>
	<p>Akan udono ye mkpa,</p>
	<p>     Ofuk ekim y’udi.</p>
	<p>Nnan, ye imum, y’akpauben,</p>
	<p>     Mbuno, y’akpamfia,</p>
	<p>Mmo kpukpru eketiene Fi</p>
	<p>     Ke akwa mfuho mmo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ubok Fo okono uwem,</p>
	<p>     Y’iko, y’odudu, y’usun ;</p>
	<p>Onyun osuk mm’idat, anam</p>
	<p>     Mmo enyime Fi nt’ Obon.</p>
	<p>O sana kpere ndidion</p>
	<p>     Nnyin, nte k’eyo oko</p>
	<p>K’ebohode Fi ke mm’efak,</p>
	<p>     Ye k’esuk Gennesaret.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Di Andiyana nno nnyin mi,</p>
	<p>     Obon uwem ye mkpa ;</p>
	<p>Fen nnyin, suk nnyin, nyun dion nnyin mi,</p>
	<p>     Ke akwa ibifik Fo.</p>
	<p>Nam mm’udono ekure nnyin,</p>
	<p>     No ifiok Fo ek’enyon,</p>
	<p>Man k’udono y’nsonidem,</p>
	<p>     Nnyin mi ikpotoro Fi.</p>
</div>
