<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ete, ke akwa mbom Fo,</p>
	<p>     Kop eseme nnyin,</p>
	<p>Kpeme ke idak mba Fo</p>
	<p>     Mm’ufan nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Jesus, Andiyana, yama,</p>
	<p>     Di usun nno mmo ;</p>
	<p>Ke ini mem-idem sana</p>
	<p>     Kpere mmo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ke ukut, ye ke nna-enyin</p>
	<p>     Ke ndob’ uwem,</p>
	<p>O yak Iso Fo asiaha</p>
	<p>     Ono mmo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak inemesit mfon Fo</p>
	<p>     Ed’ idaha mmo ;</p>
	<p>Yak ema, enyun ekpono</p>
	<p>     Fi, kwa usen.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ete, eyen, Eti Spirit,</p>
	<p>     Edisan’ uwem,</p>
	<p>Don mfon Fo, man mmo ekan</p>
	<p>     Idiok-nkpo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ete, Eyen, Ete Spirit,</p>
	<p>     Abasi kierekiet ;</p>
	<p>Dion mmo, kpeme, nwam mmo, sana</p>
	<p>     Kpere mmo.</p>
</div>
