<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ete Afo ikpon</p>
	<p>Edi Iberedem.</p>
	<p>Bion uton k’akam</p>
	<p>Ibond’ ino mm’ufan.</p>
	<p>Nyun di otu-ekon y’unwam,</p>
	<p>K’ini eyode akpa y’obot.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo Ete, odu</p>
	<p>K’akpaimo ebiet,</p>
	<p>Onuk uton okop</p>
	<p>Akam owon esit.</p>
	<p>Onyun aduak eno ndiyak</p>
	<p>Ono ndito Fo ke ison.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Yak ima Fo ofuk</p>
	<p>Usun isan uwem ;</p>
	<p>Unwan’ akpaniko</p>
	<p>Fo, oduk k’esit mmo.</p>
	<p>Man k’erinam unyime Fo,</p>
	<p>Ukpon mmo ekpeyoho y’emem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Kpeme mbak idiok,</p>
	<p>Kuyak ndik ofuk ;</p>
	<p>Kpep efiok ete,</p>
	<p>Odudu Fo ikpuhu.</p>
	<p>Nnyin imoyom ikpon mm’ufan</p>
	<p>Edi iyak mmo ino Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Nte isen idu</p>
	<p>Mi, ke afan uwem ;</p>
	<p>Ibuana, isuana ;</p>
	<p>Tutu k’enyon idiok,</p>
	<p>Isobo mme ufan ima</p>
	<p>Ke edem oko ke enyon.</p>
</div>