<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Mbok yak Enye emi</p>
	<p>Otode k’udi edi,</p>
	<p>Jesus Christ, Ekpemeron,</p>
	<p>Ekpeme kpukpru ukpon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Teme nnyin k’eti ido</p>
	<p>S’inende ke enyin Fo,</p>
	<p>Kpeme nnyin k’uwemeyo,</p>
	<p>Ye k’okoneyo nko.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Iyip Fo ama adian</p>
	<p>Nnyin y’Afo nte ufan ;</p>
	<p>Yak ino esit y’uyo</p>
	<p>Ke ikwo itoro Fo.</p>
</div>