<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Ete, dion nnyin k’eridaha,</p>
	<p>     Yak iko Fo oduk ibuot,</p>
	<p>Anam esit nnyin ayama,</p>
	<p>     Y’eti ima nsuk-esit .</p>
</div>

<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Usen mfin omokure,</p>
	<p>     Afo ‘mokut kpukpru nkpo,</p>
	<p>Nkpri ufon nnyin inamde,</p>
	<p>     Mm’idiok-nkpo ye mme iduo.</p>
</div>
<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Sio nnyin k’idiok usun, Obon,</p>
	<p>     Nam nnyin idu eti uwem ;</p>
	<p>No nnyin akakan eridion,</p>
	<p>     Eti ido y’ata uwem.</p>
</div>
<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Dahado nyun no idara,</p>
	<p>     Ye nsuhore idem nko ;</p>
	<p>Nyun name sit nnyin asana,</p>
	<p>     Man ikpetie nt’ Afo.</p>
</div>
<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Utom enem, koro Afo</p>
	<p>     Ama anam ikpo utom.</p>
	<p>Kuyak ikere uforo</p>
	<p>     Ikan Fi, O Abasi Ibom.</p>
</div>
<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Kpep nnyin mbon ukut ndima,</p>
	<p>     Ida mmo Fo yak idara ;</p>
	<p>Ke mfon Fo yak idara ;</p>
	<p>     Jesus nnyin, ke Afo edi.</p>
</div>
<div class="chorus hymn-block">
	<p>K’ini uwem nnyin ye mkpa</p>
	<p>Eti Jesus, di unwana.</p>
</div>