<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ekop eti iko emi</p>
	<p>Andinyanga k’edi</p>
	<p>Nt’Abasi okonwongode</p>
	<p>K’anyan ini emi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enye edi ndinyanga mmo</p>
	<p>Satan akamade</p>
	<p>Ke idiok ido oro</p>
	<p>Enye etemede.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Edi ndinam owo okut</p>
	<p>Eti usung uwem</p>
	<p>Edi ndino kpukpru nnyin mi</p>
	<p>Ata eti item.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Edi ndino, eyen emi</p>
	<p>Ebuenede, nkpo</p>
	<p>Ata inyene Esie</p>
	<p>Emi mikureke.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ofon nnyin ke ofuri ukpong</p>
	<p>Ida iko emi</p>
	<p>Ofon ikwo k’ndaresit</p>
	<p>Obong nnyin emedi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Emedi ndinam esit</p>
	<p>Adadat nnyin nde</p>
	<p>Emedi ndinam owo</p>
	<p>S’ofonde ye enye.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Kpukpru owo edara Christ</p>
	<p>Ekwo akwa ima</p>
	<p>Ek’enye amade owo</p>
	<p>K’uwem, ye ke mkpa.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Se nnyin, Andinyanga owo</p>
	<p>Itoro Fi k’isong</p>
	<p>Mme angel Fo ekwo nko</p>
	<p>Itoro Fo k’enyong.
</div>