<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Nnyin itoro Fi, O Abasi ; nnyin imofiok ite Afo edi Obon.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Kpukpru ererimbot ekpono Fi, nsinsi Ete.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Kpukpru mme angel efiori ekot Fi ; mme enyon ye kpukpru mme odudu ke esit.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Kpukpru mme cherubim ye mme seraphim iitreke ndikworo, ete,</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>‘Edisana, edisana, edisana ; Obon Absi Sabaoth ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Utene ubon Fo oyoho enyon ye ison.’	</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
    <p> Ata eti mbon mme Apostle etoro Fi ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
    <p>Eti otu mme Prophet etoro Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">9</p>
    <p>Mmo eke ewotde ke ntak Fo etoro Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">10</p>
    <p>Edisana  ikot Abasi ofuri ekondo onyime Fi ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">11</p>
    <p>Ete ata akwa utene ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">12</p>
    <p>Ye nkukure Eyen Fo ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">13</p>
    <p>Ye Edisana Spirit, Iberedem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">14</p>
    <p>Afo, O Christ, edi Edidem Ubon ;</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">15</p>
    <p>Afo edi nsinsi Eyen Ete.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">16</p>
    <p>Ke ini Afo akaduakde ndifak owo, Afo ukusinke idibi Eyen nwan ke ndek.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">17</p>
    <p>Ke Afo ama akan ndutuho mkpa ama, Afo okosio usun Ubon Heaven ono mmo emi ebuotde idem eno Fi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">18</p>
    <p>Afo etie k’ubok nnasia Abasi, ke ubon Ete,</p>
 </div>
<div class="verse hymn-block">
    <p class="verse-number">19</p>
    <p>Nnyin imonim ite, Afo eyetono ntak edi, man ekpe ikpe ye nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">20</p>
    <p>Do, nnyin ibene Fi, nyana ifin Fo, emi Afo akafakde ye oSon urua iyip Okuomo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">21</p>
    <p>Yak ebat mmo esin ke otu  edisana ikot Fo, ke ubon emi edidigide ke nsinsi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">22</p>
    <p>O Obon nyana ikot Fo, nyan dion ndito Fo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">23</p>
    <p>Kara mmo nyun nim mmo ke enyon ke nsinsi.</p>
</div>

