<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Se obio ek’etiede</p>
	<p>Ke ediwak eyo</p>
	<p>K’ekim y’mkpa, idahemi</p>
	<p>Okut uwemeyo</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo eti utin, mm’owo</p>
	<p>Ke kpukpru ekondo</p>
	<p>Edi, edara y’esit kiet</p>
	<p>Ke erisiaha Fo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Edat esit nte owo</p>
	<p>Edarade, k’ini</p>
	<p>Eke udia ye aran mmo,</p>
	<p>Ewakd’ eti-eti.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Eyen oto k’enyong edi</p>
	<p>Amana nte owo</p>
	<p>Edi Obong mme angel ko</p>
	<p>Obong mme owo k’isong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Odudu ye ubongg esie</p>
	<p>Okpon eti-eti</p>
	<p>Idaresit odu k’enyong</p>
	<p>Emeawak k’isongs.</p>
</div>