<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ke Eyen emi onode</p>
	<p>Ke mbiet Fo osok nnyin</p>
	<p>Imokom Fi, O Abasi</p>
	<p>Ke mfon emi mfin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Oto k’eti uwem Esie</p>
	<p>Afo amayarare</p>
	<p>Nte ete nnyin etiede</p>
	<p>Ye se enye amade.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kpukpru nnyin ima iwaha</p>
	<p>Ikpong edinen usung</p>
	<p>But iyakke nnyin ibuana</p>
	<p>Y’afo k’ebiet idun.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Edi tongo nte Jesus</p>
	<p>Akamana nte owo</p>
	<p>Unwana asiaha ‘no nnyin</p>
	<p>Anam itim ikut fi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>‘Iko’ Ete nnyin Abasi</p>
	<p>Andinyarare Enye!</p>
	<p>Ata ediwak emana</p>
	<p>Eyom Fi k’eset, ikwe.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Nnyin iton edong ino Fi</p>
	<p>Afo, O Akwa Ima;</p>
	<p>Eyen Abasi, ye owo</p>
	<p>Andikan Satan ye mkpa.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Bot obufa esit no nnyin</p>
	<p>O nsinsi Obong</p>
	<p>Mbak nnyin mi ikpekeme</p>
	<p>Ndidu y’afo k’enyong.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">8</p>
	<p>Imokom Fi, O Abasi</p>
	<p>Ke mfon Jesus Obong,</p>
	<p>Emi ayakd’uwem Esie</p>
	<p>Man id’obufa uwem.</p>
</div>