<!--ion-view ng-controller="hymnCtrl" view-title="Hymn#{{number}}">
  <ion-content-->
<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Angel ek’etode heaven,</p>
    <p>Yak ekanare ison ;</p>
    <p>Kwo, O kwo ata Messiah,</p>
    <p>Ek’amanade mfin.</p>
	<p>Yak ikpono !  Yak ikpono !   Yak Ikpono</p>
    <p>Eyen, Jesus Edidem.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Se mme asian owo etode,</p>
    <p>Ke edem usiak utin.</p>
    <p>Ntantaofion ada mmo,</p>
    <p>Ke itie Edidem.</p>
	<p>Yak ikpono !  Yak ikpono !   Yak Ikpono</p>
    <p>Eyen, Jesus Edidem.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Se, nti owo ebetde</p>
    <p>Enye, ke anyan ini ;</p>
    <p>Di ndikom Enye k’idara,</p>
    <p>Ek’edide mi k’ison.</p>
    <p>Yak ikpono !  Yak ikpono !   Yak Ikpono</p>
    <p>Eyen, Jesus Edidem.</p>
</div>
<!--/ion-content>
</ion-view-->
