<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Mfon Fo, O Jesus, okpon</p>
    <p> K’uwem Fo mi k’ison ;</p>
    <p>Ndutuho Fo ye mkpa,</p>
    <p>Eye mi okposon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Mbiomo idiok-nkpo mi,</p>
    <p>Odobi k’idem Fo ;</p>
    <p>Afo usioroke uyo,</p>     
    <p>Unyun ukunike.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Mm’asua Fo, anam idiok,</p>
    <p>Mm’ufan ifonk’ido ;</p>
    <p>Edi, k’otu oro, esit</p>
    <p>Fo k’adahado.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Mbok, no mi esit ima,</p>
    <p>Ukem-ukem nt’Okuo,</p>
    <p>Mbak ini nkutde ukut,</p>
    <p>Nyekem enye ndiyo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>Nam kpukpru nnyin, Obon, ikut</p>
    <p>Eti uwem oro,</p>
    <p>Ikot Abasi ekpekut</p>
    <p>K’eridiana ye Afo.</p>
</div>
