<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Mmemen esit y’uyo,</p>
	<p>Obon nditoro.</p>
	<p>Kpukpru mbon ima ekwo,</p>
	<p>Andikara ison ;</p>	
	<p>Ke iko okposon,</p>
	<p>Obot kpukpru nti nkpo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eyen utom k’edi,</p>
	<p>Akpa ke Calvary ;</p>
	<p>Man ikpe ekpetebe nnyin.</p>
	<p>Iyip oworo Enye,</p>
	<p>Oto ke ima Esie ;</p>
	<p>Onyun efen mm’ukwankpo nnyin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Jesus eset ke mkpa ;</p>
	<p>Onyun akan mm’asua</p>
	<p>Akabiat odud’ udi.</p>
	<p>Akan mm’anam idiok,</p>
	<p>Anam mmo efefiok,</p>
	<p>K’Enye ikpon edi Obon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Ke ima ye akwa mfon,</p>
	<p>Akar’ akpaimo</p>
	<p>Ke asian, ye ke ikike.</p>
	<p>Owo ekededi,</p>
	<p>Ek’ediyomde Fi,</p>
	<p>Okut k’Afo anyanade.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ikom Fi, O Obon,</p>
	<p>Inyun ino ubon ;</p>
	<p>Ekondo eyekpono Fi.</p>
	<p>Tutu, y’mfon ido,</p>
	<p>Ison omoyo ho,</p>
	<p>K’emi ye ke nsinsi.</p>
</div>
