<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Di Andiyana, no mfon</p>
	<p>Otode ke enyon ;</p>
	<p>Nyun nam nnyin mi ikop iko</p>
	<p>Eke Afo ododon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Afo edi Akpaniko,</p>
	<p>Etemede owo,</p>
	<p>Ke ifiok inemesit,</p>
	<p>Ye edifon nkpo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Nam kpukpru itiene Fi,</p>
	<p>K’eti usun oro,</p>
	<p>Ek’Afo akasanade,</p>
	<p>Kpan ikpokpono Fi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Afo edi Uwem ; anam</p>
	<p>Mmo ek’emade Fi</p>
	<p>Ekan mkpa, ye idiok,</p>
	<p>Enamde nnyin eti.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Afo, Usun, y’Akpaniko,</p>
	<p>Y’ata Uwem ukpon,</p>
	<p>O yoho nnyin ye Spirit Fo,</p>
	<p>Man ikpono Fi ikpon.</p>
</div>
