<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Se Eyen k’ufok enan</p>
	<p>Ye mm’ekpemeron y’esan.</p>
</div>
<div class="chorus hymn-block">
	<p>K’edi Obon ! O utibe !</p>
	<p>Kpa Obon, Edidem heaven ;</p>
	<p>Yak iduo enye k’ukot,</p>
	<p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Se owo etie bion</p>
<p>Ye Satan, usua ukpon.</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Se owo etin iko</p>
	<p>Enem ediwak owo.</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Se owo akwa mbom,</p>
	<p>Anam udon’ okure.</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>Se owo atua eyet</p>
	<p>Anam Lazarus eset.</p>	
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Se owo akpa k’eto,</p>
	<p>Anyana mm’idiok owo.</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
    <p>Se owo eset k’mkpa,</p>
	<p>Ek’ akand’ udi ama.</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>
<div class="verse hymn-block">
    <p class="verse-number">8</p>
    <p>Se owo etie k’enyon</p>
	<p>Andinyana ye Obon.	</p>
</div>
<div class="chorus hymn-block">
    <p>K’edi Obon ! O utibe !</p>
    <p>Kpa Obon, Edidem heaven ;</p>
    <p>Yak iduo enye k’ukot,</p>
    <p>Edidem kpukpru mm’idut.</p>    
</div>













