<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Owo awak eti-eti</p>
	<p>Edi akamba ndise</p>
	<p>K’nso ke mmo ebono mi?</p>
	<p>Jesus a Nazareth ke ebe</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Iko oro osim nnyin mi</p>
	<p>Anam idat esit eti</p>
	<p>Okot nnyin mi, ete idi</p>
	<p>Jesus a Nazareth ke ebe</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Owo udono, nnan-enyin</p>
	<p>Y’inan, ekop iko eke</p>
	<p>Ofonde kpukpru mbufo nde</p>
	<p>Jesus a Nazareth ke ebe</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Jesus, imetiene fi</p>
	<p>Iyom mfon fo ndise</p>
	<p>Iko emi adat nnyin mi –</p>
	<p>Jesus a Nazareth ke ebe</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Obong, did ion nnyin mi, ndien</p>
	<p>K’esit nnyin iyetoro fi</p>
	<p>Inyun isian iko emi</p>
	<p>Jesus a Nazareth ke ebe</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Ibigike; k’idahemi</p>
	<p>Eyak kpukpru ibene enye</p>
	<p>Mbak ikop iko mbom</p>
	<p>Ete, ‘ Enye ama ebe!</p>
</div>
