	<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>K’erikono ke eto,</p>
	<p>Ke akwa ubiak oro ;</p>
	<p>Anie owo edi Enye</p>
	<p>Ek’ iyip oworode ?</p>
	<p>Mmo ewai Enye k’ikpa,</p>
	<p>Ye nkukim anyanya ;</p>
	<p>Ke idiok mkpa oro,</p>
	<p>Jesus Christ, edi Afo.</p>
	</div>

	<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’erikono ke eto,</p>
	<p>Ke akamba but oro ;</p>
	<p>Anie owo edi Enye</p>
	<p>Ek’ ebenede, ete,</p>
	<p>‘Dahado, Ete, no mmo ! ’</p>
	<p>Ke otu mme utib’ nkpo,</p>
	<p>Se utin odip iso ;</p>
	<p>Jesus Christ, edi Afo.</p>
	</div>

	<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>K’erikono ke eto,</p>
	<p>Ke idiok mkpa oro ;</p>
	<p>Anie owo edi Enye</p>
	<p>Eke okpo Esie</p>
	<p>Mmo enimde ke udi,</p>
	<p>Enye k’edikem ini,</p>
	<p>Abiatde ke odudu ?</p>
	<p>Jesus Christ, edi Afo.</p>
	</div>
