  <div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Ata uwem ima !</p>
	<p>Kpukpru utom ke mfon,</p>
	<p>Jesus Obon anam ama,</p>
	<p>Ono nnyin mi k’ison.</p>
   </div>

  <div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Utom akwa Ete,</p>
	<p>Ukut ye ubiak,</p>
	<p>Enye obiom mmo ke ime,</p>
	<p>Nte Odonde Enye.</p>
   </div>

  <div class="verse hymn-block">
   <p class="verse-number">3</p>
	<p>Enye omofiok,</p>
	<p>Se nnyin ibiomde mi,</p>
	<p>Ukut, idomo, y’idiok,</p>
	<p>Emi efikde nnyin.</p>
  </div>

  <div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Edi Enye, k’ima,</p>
	<p>Ekedi k’otu nnyin ;</p>
	<p>Onyun onyime ndikpa,</p>
	<p>Man akpanyana nnyin.</p>
  </div>

  <div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Ami mbuot idem</p>
	<p>Ye Afo, O Obon,</p>
	<p>Mkpa oro otim ekem</p>
	<p>Kpukpru idiok-nkpo mi.</p>
  </div>
   
  <div class="verse hymn-block">
  	<p class="verse-number">6</p>
	<p>Ke ofuri uwem emi,</p>
	<p>Ye ke usen ikpe,</p>
	<p>Nyedibe k’esit Fo O Christ,</p>
	<p>Nnyun du ke ata emem.</p>
  </div>

  <div class="verse hymn-block">
    <p class="verse-number">7</p>
	<p>Mbok, nam utom Fo</p>
	<p>K’esit mi, O Obon,</p>
	<p>Nam mi mma Fi, nt’Afo</p>
	<p>Amade mi ke mkpa.</p>
  </div>
