 <div class="verse hymn-block">
   <p class="verse-number">1</p>
	<p>Ke ami nda nse eto,</p>
	<p>Itie mkpa Obon ubon,</p>
	<p>Kpukpru se nnyenede nsin,</p>
	<p>Nnyun nsuene kpukpru ntanidem.</p>
 </div>

 <div class="verse hymn-block">
 	<p class="verse-number">2</p>
	<p>Obon kuyak ntan idem,</p>
	<p>Ibohoke ke mkpa Fo oro ;</p>
	<p>Mme nkpo inem ison emi,</p>
	<p>Nyeyak kpukpru ke ntak iyip Fo.</p>
 </div>

 <div class="verse hymn-block">
 	<p class="verse-number">3</p>
	<p>Oto k’ibuot, y’ubok, y’ukot,</p>
	<p>Sese iyip oworo Enye ;</p>
	<p>Uto mbom ye ima oro,</p>
	<p>Akanam owo ikwe.</p>
 </div>

  <div class="verse hymn-block">
  	<p class="verse-number">4</p>
	<p>Ami nkpenyen’ enyon y’ison,</p>
	<p>Kpukpru ikemke nte eno.</p>
	<p>Akwa ima, okponde ntre,</p>
	<p>Odot ofuri uwem mi ndibo.</p>
	<p>Esinde Obon nnyin akpa,</p>
     <p>Man Enye ’kpanyana nnyin.</p>
   </div>
