<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Nnyin ikwokwo mkpa oro,</p>
	    <p> Christ akakpade mi,</p>
	<p>Kabana nnyin mi, man Enye</p>
	     <p>Anyana owo k’mkpa.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Mkpa Esie edi uwem,</p>
	     <p>Uwem ndioi owo ;</p>
	<p>Oto ke ndutuho Christ,</p>
	     <p>Eyenyana mmo kpukpru.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Jesus, ata Iberedem,</p>
	    <p> Ekedi mi, okut</p>
	<p>Kpukpru ukurukut nkpo,</p>
	     <p>Okut akamba but.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Ke eribiat mbet Obon,</p>
	     <p>Emi ibiatd’ ima,</p>
	<p>Edi s’anamde Christ ayak</p>
	     <p>Uwem Esie ke mkpa.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Mmodo yak nnyin ikwo ima,</p>
     <p>Akwa ima, emi</p>
     <p>Esinde Obon nnyin akpa,</p>
    <p> Man Enye ’kpanyana nnyin.</p>
</div>