<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Efori ke ndaresit,</p>
    <p>Kpukpru nti owo</p>
    <p>Eno Obon ; k'edi ikwo</p>
    <p>Odotde mbufo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Etana enyin Esie</p>
    <p>Ke edinen ido ;</p>
    <p>Ekwo ke obufa ikwo,</p>
    <p>Ye okposon uyo.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Koro iko Abasi Ibom,</p>
    <p>Edide edinen ;</p>
    <p>Ye kpukpru utom Esie</p>
    <p>Enye anam ekem.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Enye ama eti ido,</p>
    <p>Ye edinen utom ;</p>
    <p>Ofuri ison oyoho ye</p>
    <p>Mfon Abasi Ibom.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>K'iko Abasi akanam,</p>
    <p>Enyon ; ye ke uyo</p>
    <p>Ek'inua Esie, nkpo</p>
    <p>Emi edude do.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Enye esin mmon ke inyan</p>
    <p>Oboho oto kiet ;</p>
    <p>Onim kpa ndituno mmon</p>
    <p>Kpasuk nte k'ubet.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">7</p>
    <p>Yak kpukpru mmo k'ison ebak</p>
    <p>Abasi Ibom eti ;</p>
    <p>Yak ererimbot ekekop</p>
    <p>Utene Esie.</p>
</div>
