	<div class="verse hymn-block">
		<p class="verse-number">1</p>
		<p>Ke Gethsemane se Jesus,</p>
	    <p>Ke mfuho okposon ;</p>
		<p>Ye ke ndutuho, emi</p>
		<p>Okoyohode ukpon.</p>
	</div>

    <div class="verse hymn-block">
   		<p class="verse-number">2</p>
		<p>Se ibibiak oworo</p>
		<p>Andinyana ke idem,</p>
		<p>Kpa nte iyip; ekpere</p>
		<p>ndibo Enye uwem.</p>
	</div>

  <div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kop uyo eseme Esie,</p>
	<p>Enye ekesemede,</p>
	<p>K’erikan mfuho, nte</p>
	<p>Enye ekekemede.</p>
   </div>

 <div class="verse hymn-block">
 	<p class="verse-number">4</p>
	<p>‘O Ete Mi, yak ebe Mi ;</p>
	<p>Edi, idige nte</p>
	<p>Ami, edi nte Afo,</p>
	<p>O Ete, onyimede.’</p>
 </div>

 <div class="verse hymn-block">
 	<p class="verse-number">5</p>
	<p>Ke ndik y’akwa utene,</p>
	 <p>Yak ikop iko emi ;</p>
	<p>Edi mm’idiok-nkpo nnyin,</p>
	 <p>Jesus, ek’etukde Fi.</p>
 </div>
