	<div class="verse hymn-block">
		<p class="verse-number">1</p>
		<p>Jesus akana ubon,</p>
		<p>Inyaneke uyai,</p>
		<p>K’Enye asanade k’ison,</p>
		<p> K’out mbon afai.</p>
	</div>

    <div class="verse hymn-block">
		<p class="verse-number">2</p>
		<p>Enye emehe ke ukut,</p>
		<p>Ye mfuho okposon,</p>
		<p>Onyun okut akamba but,</p>
		<p> K’ekonde Enye ke’eto</p>
	</div>

    <div class="verse hymn-block">
		<p class="verse-number">3</p>
		<p>Edi ukut Jesus Obon</p>
		<p>Oto mm’ukwan-nkpo nnyin ;</p>
		<p>Enye ofuho mi k’ison,</p>
		<p> Man akpanyana nnyin.</p>
	</div>
    
    <div class="verse hymn-block">
		<p class="verse-number">4</p>
		<p>Nte eti eyen eron,</p>
		<p> Christ Jesus akakpa,</p>
		<p>Man eyet nnyin k’iyip Esie,</p>
		<p>K’ukwan-nkpo nnyin ama.</p>
	</div>

	<div class="verse hymn-block">
		<p class="verse-number">5</p>
		<p>Ufen nnyin Enye okobo,</p>
		<p>Man nnyin ikut emem ;</p>
		<p>Enye akpa mkpa nde,</p>
		<p> Man nnyin idu uwem.</p>
	</div>

	<div class="verse hymn-block">
		<p class="verse-number">6</p>
		<p>Jesus oto k’mkpa Esie,</p>
		<p>Ye eriset ye uwem,</p>
		<p>Asana kpukpr’ ifin ayak ;</p>
		<p>Etie k’ubon ke enyon.</p>
	</div>
