	<div class="verse hymn-block">
		<p class="verse-number">1</p>
		<p>Jesus Christ eset mfin, </p>
		<p>Hallelujah !</p>
		<p>iko emetebe nnyin ;</p>
		<p>Hallelujah !</p>
		<p>enye amanam ama,</p>
		<p>Hallelujah !</p>
		<p>Omonyun akan mkpa,</p>
		<p>Hallelujah !</p>
	</div>
	<div class="verse hymn-block">
		<p class="verse-number">2</p>
		<p>Nnyin imen uyo ikwo,</p>
		<p>Hallelujah !</p>
		<p>Imikpono Christ k’iko ;</p>
		<p>Hallelujah !</p>
		<p>Christ ama anyana nnyin,</p>
		<p>Hallelujah !</p>
		<p>Nnyin k’inemesit mfin,</p>
		<p>Hallelujah !</p>
	</div>


	<div class="verse hymn-block">
		<p class="verse-number">3</p>
		<p>Christ ama odok k’enyon ;</p>
		<p>Hallelujah !</p>
		<p>Ko ke heaven ada ubon,</p>
		<p>Hallelujah !</p>
		<p>Mme angel ko ke ekwo ;</p>
		<p>Hallelujah !</p>
		<p>Nnyin k’ison iboro mmo,</p>
		<p>Hallelujah !</p>
	</div>

	<div class="verse hymn-block">
		<p class="verse-number">4</p>

		<p>Christ ama kpukpru owo,</p>
		<p>Hallelujah !</p>
		<p>Yak nnyin idara nko ;</p>
		<p>Hallelujah !</p>
		<p>Yak inyun imen iko,</p>
		<p>Hallelujah !</p>
	</div>
