	<div class="verse hymn-block">
		<p class="verse-number">1</p>
		<p>Alleluia ! Alleluia ! Alleluia !</p>
		<p>Enwan ebe, akan mm’asua ;</p>
		<p>Obon nnyin emeset ke mkpa ;</p>
		<p>Itreke nidkwo ikwo ;</p>
		<p>Alleluia !</p>
	</div>

	<div class="verse hymn-block">
		<p class="verse-number">2</p>
		<p>Mkpa anwana okposon,</p>
		<p>Ikanke Jesus Christ Obon ;</p>
		<p>Yak nnyin itoro Edidem ;</p>
		<p>Alleluia !</p>
	</div>
	<div class="verse hymn-block">
		<p class="verse-number">3</p>
		<p>Ndien k’usenubok ita,</p>
		<p>Ke akwa ubon akan mkpa ;</p>
		<p>Ke okposon uyo ikwo,</p>
		<p>Alleluia !</p>
	</div>


	<div class="verse hymn-block">
		<p class="verse-number">4</p>
		<p>Oto ubiak y’afanikon,</p>
		<p>Osio nnyin ke mkpa, obun</p>
		<p>Odudu Satan, yak ikwo,</p>
		<p>Alleluia !</p>
	</div>

