<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Abasi mi, nkpono Fi,</p>
    <p>Akwa Abasi Ibom ;</p>
    <p>Itie-mma, y'unwana Fo,</p>
    <p>Eye eti-eti.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Nsinsi Abasi Ibom,</p>
    <p>Owo etene Fi,</p>
    <p>Mme angel ko ke Heaven k'enyon,</p>
    <p>Enyun ekpono Fi.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Enyene mi ndik, Obon</p>
    <p>K'nkpere Fi ke akam ;</p>
    <p>Edi k'iyip Fo k'esit mi,</p>
    <p>Emem ada itie.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Ima ete k'ison emi,</p>
    <p>Ima ye mbom eka,</p>
    <p>Ikemke kem y'ima oro,</p>
    <p>Afo amade nnyin.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">5</p>
    <p>Si' Afo amade mi ntre,</p>
    <p>O Andikpon Nkan,</p>
    <p>Ofuri esit nyak nno Fi ;</p>
    <p>O Obon, di dun k'esit.</p>
</div>
<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Abasi Ibom, Ete k'enyon,</p>
    <p>Se nnuho k'iso Fo ;</p>
    <p>K'nkere mfon Fo, ye ima,</p>
    <p>Ye akwa odudu Fo.</p>
</div>
