 <div class="verse hymn-block">
	<p class="verse-number">1</p>
    <p>Eyen Abasi ;</p>
	<p>Onyun ebet usen,</p>
	<p>Jesus Obon.</p>
	<p>Enye eset ke mkpa,</p>
	<p>Akakan kpukpru mm’asua ;</p>
	<p>Enye eset okpon ekim,</p>
	<p>Onyun odu ye mmo k’enyon ;</p>
	<p>Enye eset  ! Enye eset !</p>
	<p>Hallelujah ! Christ eset !</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Mm’asua ekpem’ udi</p>
	<p>Eyen Abasi ;</p>
	<p>Eson enim itiat,</p>
	 <p>Jesus Obon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Mkpa imumke’ Enye,</p>
	<p>Eyen Abasi,</p>
	<p>Enye okpon udi</p>
	<p>Jesus Obon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>K’emi Enye etie,</p>
	<p>Eyen Abasi,</p>
	<p>K’ubok nnasia Ete,</p>
	<p>Jesus Obon. </p>
</div>