<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Christ eset mfin emi ;</p>
	<p>Akwa Andikan udi.</p>
	<p>Mbufo owo, ekwo</p>
	<p>Enye k’okposon iko.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Andinyana amakan</p>
	<p>Satan, k’okposon enwan ;</p>
	<p>Se, Enye afiak owo</p>
	<p>Ke ubok idiok-nkpo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Enye amanam akwa</p>
	<p>Okposon utom ama ;</p>
	<p>Ndien asiak usun</p>
	<p>Man ke heaven nnyin idun.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Mkpa ! eritiga fo</p>
	<p>K’emi emekem nso ?</p>
	<p>Erikan fo, O udi,</p>
	<p>Omodu mmon ke emi ?</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>O, yak nnyin ise Obon,</p>
	<p>Ke ebekpo Esie ke enyon ;</p>
	<p>Yak inim k’Iberedem,</p>
	<p>Ke ofuri ini uwem.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">6</p>
	<p>Angel ye owo, edi</p>
	<p>Nditoro Christ eti ;</p>
	<p>Yak itoro okposon,</p>
	<p>Edidem enyon y’ison.</p>
</div>

