<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Ke obufa usen</p>
	<p> Ke mfuon usenubok,</p>
	<p>Mm’ angel seuhore</p>
	<p>Ekpat itiat efep.</p>
</div>

<div class="verse hymn-chorus">
	<p>Emenere uyo ekwo,</p>
	<p>Jesus Obon eset ke mkpa.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Akwa  ndik, anam</p>
	<p>Mmo ek’ekpemede</p>
	<p>Eduo k’ison, ena</p>
	<p>Nte mm’akpa mkpa.</p>
</div>
<div class="verse hymn-chorus">
	<p>Emenere uyo ekwo,</p>
	<p>Jesus Obon eset ke mkpa.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>K’enyin, owo mikwe</p>
	<p>Obon enyon y’ison</p>
	<p>Oto ekim udi,</p>
	<p>Eset, odok k’enyon.</p>
</div>
<div class="verse hymn-chorus">
	<p>Emenere uyo ekwo,</p>
	<p>Jesus Obon eset ke mkpa.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>	
	<p>Mbufo ikot Obon,</p>
	<p>Edaha ke enyon</p>
	<p>Ekpon nkpo ison,</p>
	<p>Edu y’Enye mfin.</p>
</div>
<div class="verse hymn-chorus">
	<p>Emenere uyo ekwo,</p>
	<p>Jesus Obon eset ke mkpa.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Itoro Fi, Obon,</p>
	<p>Afo enyene nnyin ;</p>
	<p>Mbon enyon nko,</p>
	<p>Ekwo itoro Fo.</p>
</div>
<div class="verse hymn-chorus">
	<p>Emenere uyo ekwo,</p>
	<p>Jesus Obon eset ke mkpa.</p>
</div>
