<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Awka Andinyanga eset ke mkpa,</p>
	<p>Akan mbon ekon mm’asua nnyin k’enwan.</p>
</div>

<div class="verse hymn-chorus">	
	<p>Ekwo hallelujah !	Ekwo hallelujah !</p>
	<p>Ekwo hallelujah !	Edara ekwo !</p>
	<p>Ama akan mm’asua nnyin,</p>
	<p>Christ Jesus, Obon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Ifeheke fehe mkpa ye udi,</p>
	<p>Koro Christ Obon nnyin anyanade nnyin</p>
</div>
<div class="verse hymn-chorus">	
	<p>Ekwo hallelujah !	Ekwo hallelujah !</p>
	<p>Ekwo hallelujah !	Edara ekwo !</p>
	<p>Ama akan mm’asua nnyin,</p>
	<p>Christ Jesus, Obon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Ifeheke fehe idomo aba,</p>
	<p>Jesus omosio nnyin k’odudu Satan.</p>
</div>
<div class="verse hymn-chorus">	
	<p>Ekwo hallelujah !	Ekwo hallelujah !</p>
	<p>Ekwo hallelujah !	Edara ekwo !</p>
	<p>Ama akan mm’asua nnyin,</p>
	<p>Christ Jesus, Obon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Christ Jesus Obon nnyin eset ke mkpa,</p>
	<p>Ono nnyin unwana ke usun ekim.</p>
</div>
<div class="verse hymn-chorus">	
	<p>Ekwo hallelujah !	Ekwo hallelujah !</p>
	<p>Ekwo hallelujah !	Edara ekwo !</p>
	<p>Ama akan mm’asua nnyin,</p>
	<p>Christ Jesus, Obon.</p>
</div>