<div class="verse hymn-block">
	<p class="verse-number">1</p>	
	<p>Obon nnyin emeset ke mkpa</p>
	<p>Jesus nnyin omodok k’ubon ;</p>
	<p>Ibuot-ekon nnyin akan hell,</p>
	<p>odok osim ikpa-enyon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Udim ekon Esie ke ebebet,</p>
	<p>Mm’ angel wsul ekwo ikwo ;</p>
	<p>Nsinsi itim ko ke enyon,</p>
	<p>Emende mm’ibuot mbufo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Utin ye kpukpru mm’unwana efen,</p>
	<p>Ke kpukpru mme ebiet eyama.</p>
	<p>Christ emedi k’ubon Esie,</p>
	<p>Ekom Obon y’Andinyana.</p>
</div>


<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Anie edi Obon emi ;</p>
	<p>Enye emi kpukpru mm’asua</p>
	<p>Ekedomode ndikan,</p>
	<p>Ke ndutuho ye mkpa?</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Jesus edi enyin Esie,</p>
	<p>Edidem ke ofuri ekonde ;</p>
	<p>Sese, udim ekon k’ebet,</p>
	<p>Mm’ angel enyun ekwo ikwo.</p>
</div>


<div class="verse hymn-block">
	<p class="verse-number">6</p>
	<p>Berere itim mbufo !</p>
	<p>Nsinsi itim uwem ;</p>
	<p>Yak Enye k’ukpono ebe,</p>
	<p>Oduk Edidem mm’ndidem.</p>
</div>

