<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Afo ama odok k’enyon,</p>
	<p>Onyun ada ubon ama ;</p>
	<p>Ndien k’iso Ete Fo do</p>
	<p>Ekpe ubok ono owo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Mbon heaven k’emem uyo,</p>
	<p>Ekwo  akwa itoro Fo ;</p>
	<p>Koro odotde ndibo</p>
	<p>Ubon, y’ukpono akpaimo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Afo ama odok k’enyon ;</p>
	<p>Edi, ama odu k’ison</p>
	<p>Okut ukut, onyime but,</p>
	<p>Onyun owon ata idot.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>	
	<p>Ndien, ke nnyin idud’ uwem,</p>
	<p>Ukut eyettiene nnyin ;</p>
	<p>Edi, k’akpatre iyeka</p>
	<p>K’oto minamke nnyin aba.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Afo ama odok k’enyon,</p>
	<p>Enyeyun oton’ ntak edi ;</p>
	<p>Onyun ada mme angel Fo,</p>
	<p>Ete, ikpe iko owo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">6</p>
	<p>O da odudu okposon,</p>
	<p>Nam nnyin idu uwem k’ison,</p>
	<p>K’ido ek’edinemde Fi,</p>
	<p>Man ikpodu ke nsinsi.</p>
</div>
