<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>Da itoro no Obon,</p>
	<p>Nam ayara anyanya ;</p>
	<p>Jesus ke nnyin mi ikwo,</p>
	<p>Jesus emeset ke mkpa ;</p>
	<p>Jesus Andikan udi,</p>
	<p>Jesus Andinyana mi.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Jesus omokpon ison,</p>
	<p>Angel emeda enye</p>
	<p>Ke idaresit k’enyon ;</p>
	<p>Mmo efiori, ete,</p>
	<p>Usun heaven, men idem,</p>
	<p>No Akamba Edidem.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Ke itie Esie,</p>
	<p>Ke ata akwa ubon,</p>
	<p>Angel do ewuk ubok</p>
	<p>Eno Enye, ke enyon.</p>
	<p>Yak isin uyo ikwo,</p>
	<p>Ke akwa idara mmo.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Jesus, sin ikot Fo mi,</p>
	<p>Ke mfon Fo ye ima,</p>
	<p>Kpukpru etiene Fi</p>
	<p>Ke usun akpaniko ;</p>
	<p>Tutu mmo ekpon ison,</p>
	<p>Man ebine Fi k’enyon.</p>
</div>



