<div class="verse hymn-block">
	<p class="verse-number">1</p>		
	<p>Ibuot emi ayarade</p>
	<p>Nkukim, ke ison,</p>
	<p>Ayara k’emi anyanya</p>
	<p>ubon, ko ke enyon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Jesus k’ebekpo Esie,</p>
	<p>Etie ke enyon ;</p>
	<p>Edidem mm’ndidem, Obon</p>
	<p>Akan kpukpru mbon.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Idara kpukpru mmo k’enyon,</p>
	<p>Ke ufok Ete Esie ;</p>
	<p>Idara mmo k’ison, emi</p>
	<p> M efehede Enye.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Enye ada itoro, ke</p>
	 <p> Mkpa eto, emi</p>
	<p>Enye akpade ke ison</p>
	<p>Ke ubiak eti.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Ndien mmo ek’ekutde but</p>
	<p>Ke enyin Esie,</p>
	<p>Eye etie ke ubon</p>
	<p>Enye enyenede.</p>
</div>

