<div class="verse hymn-block">
	<p class="verse-number">1</p>
   	<p>Eberede usun-otop,</p>
	<p> Enim ata inwan ;</p>
	<p>Jesus emeduk etie</p>
	<p> Y’Ete Esie ke nkan.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Afo ebem iso aka</p>
	<p>Ke eridion itie ;</p>
	<p>Man ikpekeme ndidu</p>
	<p>Ye Afo, k’ufok Fo do.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Kpa ye enyin mbuotidem,</p>
	<p>Imeekut ubon Fo ;</p>
	<p>Unwan’ emi otode heaven,</p>
	<p>Anam ikut Fi do.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Inem esit nnyin ke enyon,</p>
	<p>Man ikpokut mfon ;</p>
	<p>Nam nnyin ima nkpo enyon,</p>
	<p>Akan nkpo ison.</p>
</div>

<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>Kpan ima nnyin y’idorenyin,</p>
	<p>Edu k’Afo ikpon,</p>
	<p>Dun k’esit nnyin, nnyin iyedunn</p>
	<p> K’esit Fo ke nsinsi.</p>
</div>