<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Jesus emedi k’ison mi</p>
	<p>Ndisio kpukpru owo</p>
	<p>K’ubok Satan, ek’enimde</p>
	<p> Enye ke akpaniko.</p>
	<p>Yak idara Andino nnyin</p>
	<p> Eti enyin, ‘Ndito.’</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Kpukpru nnyin iketetie</p>
	<p> Ifin idiok-nkpo,</p>
	<p>Tutu Jesus, Andinyana,</p>
	<p>Ndifak nnyin ekedi.</p>
	<p>Yak idara Andino nnyin</p>
	<p>Eti enyin, ‘Ndito.’</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Jesus, ke odudu Esie,</p>
	<p>Asiak usun ono</p>
	<p>Kpukpru nnyin mi, man iboho</p>
	<p>Se edide idiok.</p>
	<p>Yak idara Andino nnyin</p>
	<p> Eti enyin, ‘Ndito.’</p>
</div>
	
<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Odot kpukpru nnyin itoro</p>
	<p>Jesus Andinyana nnyin,</p>
	<p>Andinam nnyin mi iboho</p>
	<p>Ufin idiok-nkpo.</p>
	<p>Yak idara Andino nnyin</p>
	<p>Eti enyin, ‘Ndito.’</p>
</div>

