
<div class="verse hymn-block">
    <p class="verse-number">1</p>
    <p>Edara Jesus Christ Obon,</p>
    <p>Obon ata uwem ;</p>
    <p>Esio anyanya ubon</p>
    <p>Eyara, ‘yara, ‘yara,</p>
	  <p> Christ nte Edidem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
    <p>Ndito Israel, emi</p>
    <p> Enyenede item</p>
    <p>Abasi okono owo,</p>
    <p>Ekpono, ‘kpono, ‘kpono,</p>
	  <p>Christ nte Edidem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Mme Gentile, mbufo edi</p>
    <p>Kpukpru oruk usem ;</p>
    <p>Edara Andinyana owo,</p>
    <p>Ekpono, ‘kpono, ‘kpono,</p>
	   <p>Christ nte Edidem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Yak mmo k’enyon, ye mmo k’ison,</p>
    <p>Esana kiet ntem ;</p>
    <p> K’akwa mkpo idaresit</p>
    <p>Ekpono, ‘kpono, ‘kpono,</p>
	   <p>Christ nte Edidem.</p>
</div>