<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Ibene Fi Obon,</p>
	<p>Yak obio Fo edi</p>
	<p>Nuak k’okposon ubok</p>
	<p>Idiok-nkposon ubok</p>
</div>
	
<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Obon ata emem,</p>
	<p>Y’ima, y’eti ido,</p>
	<p>Sop nam mm’asua etre,</p>
	<p>Nte ke obio Fo.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Kuyak aba ekon</p>
	<p>Otimere ison,</p>
	<p>Bin utuk ye ufik,</p>
	<p>Ye idiok iton.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Nnyin imebene Fi,</p>
	<p>Daha k’enyon, Obon,</p>
	<p>Nam nnyin isop ikut</p>
	<p>Iso Fo mi k’ison.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Owo ikponoke</p>
	<p>Enyin Fo mi k’ison,</p>
	<p>Ima nnyin ebebit,</p>
	<p>Ido ifonke fon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Yak ofuri ekonde,</p>
	<p>Edaha ke enyon,</p>
	<p>Ekpon nkani ido,</p>
	<p>Ekom Fi, O Obon.</p>
</div>






