<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Se ! akwa usen ekpere,</p>
     <p>Ek’ enyenede  Obon ;</p>
     <p>Kpa usen emi okutde</p>
     <p>Jesus ke ikpa-enyon.</p>
	<p>Se Messiah,</p>
     <p>Osuhode ke ubon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Kop uyo isun Abasi ;</p>
     <p>Kpukpru ekondo enyek ;</p>
     <p>Kpukpru mmo emi ekpade,</p>
     <p>Kpukpru ke mkpa eset.</p>
	<p>Ererimbot </p>
	<p>Ye enyon ebe efep.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
    <p>Mmo emi mimana Jesus,</p>
    <p>Eyetua k’usen oro ;</p>
    <p>Mmo emi emade Enye,</p>
    <p>Eyadar’ eti-eti.</p>
    <p>Hallelujah !</p>
     <p>Jesus Andinyana, di !</p>
</div>

