<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Christ k’edi mi, yak ekondo</p>
	<p>Ekutua aba eyet ;</p>
	<p>O yak iko emi, anam</p>
	<p>Idorenyin mmo eset.</p>
	<p>Christ k’afiak edi mi k’ison ;</p>
	<p>Di, Edidem ; nnyin k’ibet.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>K’emi ererimbot k’ebuk,</p>
	<p>Ebana ukut Fo mi :</p>
	<p>Edi mmo ‘yekut Fi k’ubon</p>
	<p>K’Afo edifiakd’idi.</p>
	<p>Christ k’afiak edi mi k’ison ;</p>
	<p> Yak itoro Abasi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ikot Fo ema ebet Fi,</p>
	<p>Ebebet ke anyan ini ;</p>
	<p>K’efiakd’ ekut Fi k’ubon</p>
    <p>Eyedat esit eti.</p>
	<p>Christ k’afiak edi mi k’ison ;</p>
	<p>Di, kubigi, Edidem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Y’eti idorenyin, emi</p>
    <p>Christ edidide k’ubon,</p>
	<p>Yak idat esit itoro</p>
	<p>Edidem nnyin ke enyon.</p>
	<p>Christ k’afiak edi mi k’ison ;</p>
	<p>Mbok, sop di Jesus Obon.</p>
</div>

