<div class="verse hymn-block">
    <p class="verse-number">1</p>	
	<p>Spirit unwana, ke mfon,</p>
	<p>Siaha ke usun</p>
	<p>Etemede owo aka</p>
	<p>Ye Afo ndidun.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Spirit  akpaniko, nam mi</p>
	<p>Nkop, nnyun nntim mfiok</p>
	<p>Iko Obon odohode,</p>
	<p> Man nkpanam, mbok.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Spirit inemesit, no mi</p>
	<p>Idonesit, k’ini</p>
	<p>Afanikon ye ubiak,</p>
	<p>Enamde mi eti.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Spirit ima, sin k’esit mi</p>
	<p>Akwa ima Obon,</p>
	<p>Kpan nkpetiene Enye mi,</p>
	<p> Nnyun mma Enye ikpon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Spirit emem, k’adanoro</p>
	<p>Satan anwanade</p>
	<p>Ye ami, ndikan ukpon,</p>
	<p>O kuyak mi ndue.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Spirit idaresit, k’usen</p>
	<p>Mkpa, yak mi nti,</p>
	<p>Nnyun mbuot idem k’akwa enyin</p>
	<p>Christ, Andinyana mi.</p>
</div>
