<div class="verse hymn-block">
     <p class="verse-number">1</p>
	<p>Andifak nnyin mbemiso</p>
     <p>Enye adah’ unyon,</p>
     <p>Okpon Anditeme Ono</p>
     <p>Nnyin mi k’ison.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Enye ekedi nt’edeme</p>
     <p>Mm’odu uewm owo ;</p>
     <p>Odudu Esie okoson</p>
     <p>Nt’oyobio.</p>
</div>

<div class="verse hymn-block">
     <p class="verse-number">3</p>
	<p>Enye ekedi mi man ekpep</p>
     <p>Owo nti ido ;</p>
     <p>Esit eke miyomk’ Enye,</p>
     <p>Etie ikpon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
    <p>Uyo Esie ekpri, enem,</p>
    <p>K’uton mme andikop ;</p>
    <p>Oyoho esit mmo y’ata</p>
    <p>Nti etop.</p>
</div>

<div class="verse hymn-block">
     <p class="verse-number">5</p>
	<p>Kpukpru nti ido eke</p>
     <p>Owo enyenede ;</p>
     <p>Kpukpru ndisana esit</p>
     <p>Oto k’Enye.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
    <p>Spirit unwana ye mfon,</p>
    <p>No nnyin odudu Fo ;</p>
    <p>Mbok, di dun k’esit nnyin mi,</p>
    <p>Idi Okuo.</p>
</div>
