<div class="verse hymn-block">
    <p class="verse-number">1</p>
    	<p>Akpa </p>	
	<p>	Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>kpuhode mi, nam obufa,</p>
	<p>Tutu mbiet Fi mma.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>Tutu ndi kiet ye Afo,</p>
	<p>K’utom ye ke ido.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>Ndien ami ndikpaha</p>
	<p>Ke nsinsi aba.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>Tutu nkabade ndi</p>
	<p>Okuo ofuri-ofuri.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>Nam ikan ima Fo ata</p>
	<p>idiok-nkpo mi ama.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Duok ibifik sin mi</p>
	<p>K’idem, O Abasi ;</p>
    <p>Mbak ndu ata uwem</p>
	<p>K’ukpon y’ikpohidem.</p>
</div>
