<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Udiana.</p>
	<p>Yak Spirit Fo, Obon</p>,
	<p>Oduk mi ke ukpon ;</p>
    <p>Man mma se Afo amade,</p>
	<p>Nnyun nkpebe Fi ikpon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>	
    <p>Yak Spirit Fo, Obon,</p>
	<p>Eyet mi ke ukpon,</p>
    <p>Tutu nnam eti ido,</p>
	<p>Nnyun nnyo ukut nko.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Yak Spirit Fo, Obon,</p>
	<p>Odu mi ke ukpon,</p>
    <p>Esin ufiop ke esit mi,</p>
	<p>Man nkpokpono Fi.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Yak Spirit Fo, Obon,</p>
	<p>Oyoho mi k’ukpon,</p>
    <p>Man ndu y’Afo k’nsinsi,</p>
	<p>K’uwem ata eti.</p>
</div>
