<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Eti spirit kpere</p>
	<p>O, bion uton</p>
	<p>Buana ke itoro</p>
	<p>Inode obon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Eti spirit wut nnyin</p>
	<p>K’iyomde, ete;</p>
	<p>Sana di teme nnyin</p>
	<p>S’ikpodohode.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Eti spirit yama</p>
	<p>K’nwed ikotde</p>
	<p>O no nnyin unwana</p>
	<p>Emi iyomde</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>
	<p>Eti spirit no nnyin</p>
	<p>Nsuhore idem</p>
	<p>Man nnyin ibiet Jesus</p>
	<p>Ke eti uwem.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>
	<p>Eti spirit yama</p>
	<p>Ke nkpri utom</p>
	<p>Emi nnyin inamde</p>
	<p>Ino obon nnyin.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">6</p>
	<p>Eti spirit nyana</p>
	<p>Nnyin k’odudu fo,</p>
	<p>Nam isuk iyire</p>
	<p>Ke eti ido.</p>
</div>
