<div class="verse hymn-block">
    <p class="verse-number">1</p>
	<p>Di! Eti Spirit, di !</p>
	<p> K’akwa odudu Fo ;</p>
	<p>Sio mi, mbok, ke idiok,</p>
    <p> Nyun sin k’eti ido.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">2</p>
	<p>Ntie ke ekim,</p>
	<p>Nkwe nkpon ;</p>
	<p>Di, yama mi k’iso, mbok,</p>
    <p> Kpan nkpokut mfon.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">3</p>
	<p>Ntak ke idiok-nkpo ;</p>
	<p> K’ukwan-nkpo ekese ;</p>
	<p>Di sin uwem Fo k’esit mi</p>
	<p>Emi mikureke.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">4</p>   
	<p>Oburobut nkpo</p>
	<p>Oyoho esit mi ;</p>
	<p>akpaimo, di, sio mmo fep,</p>
	<p>Nyun sin ata eti.</p>
</div>

<div class="verse hymn-block">
    <p class="verse-number">5</p>      
	<p>Di ! Eti Spirit, di !</p>
	<p> K’unwana ye uwem ;</p>
	<p>Nyun nam ndi nte Obon</p>
	<p> Onode mi item.</p>
</div>

