<ion-view ng-controller="hymnCtrl" view-title="Hymn#{{number}}">
  <ion-content>
<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>The Lord He is very gra-cious</p>
	<p>In Mercy He’s Plenteous,</p>
	<p>And he doth great compassion show;</p>
	<p>But unto wrath doth slow</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>‘Good unto all Men is the Lord’,</p>
	<p>Who calls in truth on him,</p>
	<p>O’er all his works his Mercy is,</p>
	<p>Of great lib’rality’.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>Thy works all Praise to thee afford;</p>
	<p>For all that thou hast done.</p>
	<p>Shall they, o Lord, thy name shall bless</p>
	<p>And show great Joy in Thee.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>The glory of thy kingdom show</p>
	<p>Forever bless his name</p>
	<p>Shall they, and of thy power tell’</p>
	<p>The greatness of thy might.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>‘That so men’s sons his deeds may know’,</p>
	<p>Great and wonderful thing</p>
	<p>‘His kingdom’s glories that excel’.</p>
	<p>Beyond Man’s great knowledge.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">6</p>
	<p>‘Thy kingdom hath none end at all;</p>
	<p>I will thee bless and sing.</p>
	<p>‘It doth through ages all remain;</p>
	<p>And ever, so shall be.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">7</p>
	<p>The Lord upholdeth all that fall,</p>
	<p>His eyes attend to them,</p>
	<p>The cast down raiseth up again,</p>
	<p>They that wait upon Him.</p>
</div>
</ion-content>
</ion-view>
