<ion-view view-title="Hymn#{{number}}">
  <ion-content>
  <div class="verse hymn-block">
  	<p class="verse-number">1</p>
  	<p>Thine be the glory, risen, conqu'ring Son,</p>
  	<p>Endless is the vict'ry Thou o'er death hast won</p>
  	<p>Angels in bright raiment rolled the stone away,</p>
  	<p>Kept the folded grave-clothes, where Thy body lay.</p>
  </div>
  <div class="chorus hymn-block">
  	<p>Thine be the glory, risen, conqu'ring Son,</p>
  	<p>Endless is the vict'ry Thou o'er death hast won.</p>
  </div>
  <div class="verse hymn-block">
  	<p class="verse-number">2</p>
  	<p>Lo! Jesus meets us, risen from the tomb;</p>
  	<p>Lovingly He greets us, scatters fear and gloom;</p>
  	<p>Let the Church with gladness, hymns of triumph sing,</p>
  	<p>For her Lord now liveth, death hath lost its sting.</p>
  </div>
  <div class="chorus hymn-block">
  	<p>Thine be the glory, risen, conqu'ring Son,</p>
  	<p>Endless is the vict'ry Thou o'er death hast won.</p>
  </div>
</ion-content>
</ion-view>
