<ion-view ng-controller="hymnCtrl" view-title="Hymn#{{number}}">
  <ion-content>
<div class="verse hymn-block">
	<p class="verse-number">1</p>
	<p>O come and let us sing</p>
	<p>Unto the Lord, our God;</p>
	<p>O Let us our Rock and Saviour sing</p>
	<p>Who saves us all in love.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">2</p>
	<p>Let us before Him come</p>
	<p>With thanksgiving and praise</p>
	<p>And show ourselves with songs of joy</p>
	<p>And sing unto His name.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">3</p>
	<p>The Lord is a great God;</p>
	<p>A great king over all</p>
	<p>His kingdom forever shall be</p>
	<p>Without an end at all.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">4</p>
	<p>Within His are hands are all</p>
	<p>The comers of the earth;</p>
	<p>And all the lofty hills on earth</p>
	<p>Are all within His hand.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">5</p>
	<p>The sea He also made</p>
	<p>And it belongs to Him</p>
	<p>And with His hand this earth He made</p>
	<p>And thus be glorified.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">6</p>
	<p>O come, let us worship</p>
	<p>And do bow down in pray’r</p>
	<p>And kneel before the Lord, and King</p>
	<p>Our maker and our friend.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">7</p>
	<p>For He’s the Lord our God;</p>
	<p>And we shall be His flock</p>
	<p>The flock He pastures, cares and loves</p>
	<p>And sherpherds by Himself.</p>
</div>
<div class="verse hymn-block">
	<p class="verse-number">8</p>
	<p>O hear the Lord His voice</p>
	<p>O hear Him speaking know</p>
	<p>And harden not your heart, for now</p>
	<p>The patient time is gone</p>
</div>
</ion-content>
</ion-view>
